<ul class="media-list main-list" id="sortable">
  <% @elements.each do |element| %>
      <li class="media item underlined" data-name="<%= element.item.name %>" data-created="<%= element.created_at.strftime("%FT%R") %>" data-updated="<%= element.updated_at.strftime("%FT%R") %>">
        <%= link_to collection_element_path(@collection, element) do %>
          <%= image_or_placeholder element.get_image.small_thumb.url, class: "img-list media-object pull-left" %>
        <% end %>
        <%= link_to collection_element_path(@collection, element) do %>
            <div class="media-body">
              <h3>
                <%= element.item.name %>
              </h3>
              <p><%= element.description.blank? ? content_tag(:span, "No description", style: "color:grey;") : element.description %></p>
            </div>
        <% end %>
        <% unless element.item_attributes.empty? %>
            <span class="fa fa-caret-down item-details"></span>
            <div class="item-attr list-attr">
              <ul class="attr-list">
                  <% element.item_attributes.each do |attr| %>
                    <li><% if attr.type == "state" %>
                      <%= attr.name %> <i class="<%= attr.value ? "fa fa-plus-square-o" : "fa fa-minus-square-o" %>"></i>
                    <% else %>
                      <%= "#{attr.name}: #{attr.value}" %>
                    <% end %></li>
                  <% end %>
              </ul>
            </div>
        <% end %>
      </li>
  <% end %>
</ul>