<ul class="items-shelf main-list">
  <% @elements.each do |element| %>
      <li class="item-box item box-shadow" data-name="<%= element.item.name %>" data-created="<%= element.created_at.strftime("%FT%R") %>" data-updated="<%= element.updated_at.strftime("%FT%R") %>">
        <a href="<%= collection_element_path(@collection, element) %>" >
          <div class="white">
            <%= image_or_placeholder element.get_image.small_thumb.url %>
          </div>
        </a>
      </li>
  <% end %>
</ul>