<ul class="items_carousel main-list">
      <% @elements.each do |element| %>
          <li class="item_block item" data-name="<%= element.item.name %>" data-created="<%= element.created_at.strftime("%FT%R") %>" data-updated="<%= element.updated_at.strftime("%FT%R") %>">
            <%= link_to collection_element_path(@collection, element) do %>
                <div class="item-image">
                    <%= image_or_placeholder element.get_image.thumb.url %>
                  <div class="name-wrapper">
                    <h3 class="item-name"><%= element.item.name %></h3>
                  </div>
                </div>
                <% unless element.item_attributes.empty? %>
                    <div class="item-info attr-wrapper">
                        <ul class="attr-list">
                            <% element.item_attributes.each do |attr| %>
                                <li><% if attr.type == "state" %>
                                      <%= attr.name %> <i class="<%= attr.value ? "fa fa-plus-square-o" : "fa fa-minus-square-o" %>"></i>
                                  <% else %>
                                      <%= "#{attr.name}: #{attr.value}" %>
                                  <% end %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
            <% end %>
          </li>
      <% end %>
</ul>

