<li class="collection-thumb col-xs-12 col-sm-6 col-md-3" data-action="<%= load_slideshow_collection_url collection %>" data-name="<%= collection.name %>" data-created="<%= collection.created_at.strftime("%FT%R") %>" data-updated="<%= collection.updated_at.strftime("%FT%R") %>">
  <div class="thumbnail">
    <%= link_to collection_thumb_path(collection, @item) do %>
        <div class="slideshow-wrapper">
          <div class="slideshow">
            <%= image_or_placeholder collection.cover_image %>
          </div>

          <div class="items-counter-wrapper">
            <div class="items-counter">
              <b><%= collection.elements.count %></b>
              items
            </div>
          </div>
        </div>
    <% end %>

    <div class="caption">
      <h3>
        <%= link_to collection.name, collection_thumb_path(collection, @item) %>
      </h3>
    </div>
  </div>
</li>