<% if @collection.errors.any? %>
  <div class="row">
    <div class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h4>
      <ul>
        <% @collection.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= form_for @collection, :html => {:id => "collection-form"} do |f| %>
    <%= hidden_field_tag "item_id", @item.id, class: "form-control free-input", placeholder: @item.id if @item %>
    <%= hidden_field_tag "user_id", current_user.id %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, action: name_available_collections_url, class: "form-control free-input", counter: 50 %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control free-input", counter: 600 %>
    </div>

    <div class="buttons-group">
      <ul class="horizontal">
        <li><%= f.submit nil, class: "btn btn-primary free-btn" %></li>
        <%= yield :buttons %>
      </ul>
    </div>
<% end %>
