<h1 class="mainpage_header">Editing collection</h1>

<% content_for :buttons do %>
    <li>
    <%= link_to [@collection], method: :delete, data: { confirm: "Are you sure you want to delete this collection?\nThis action is irreversible!" }, class: "btn btn-default" do %>
        <i class="fa fa-trash"></i>
        Delete
    <% end %>
    </li>
    <li><%= cancel_to @collection %></li>
<% end %>

<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
  <%= render 'form' %>
</div>

