$('#collections-search-results').html('<%= escape_javascript(render 'collections/collectionslist', collections: @collections) %>');
$('#collections-search-results-count').html('<%= escape_javascript(render('collections/collectionscounter')) %>');


<% if params[:query] == "" %>
  $('#collections-search-results-count').hide();
<% else %>
  $('#collections-search-results-count').show();
<% end %>

handleCollectionSlideshows();
