<h1 class="mainpage_header">
<% if @item %>
    Choose collection to add <span class="item-name"><%= @item.name %></span> <a href="<%= collections_path %>" class="fa fa-times" title="Cancel" id="cancel-addding-button"></a>
<% else %>
    Your collections
<% end %>
</h1>

<div id="collecions-search-bar">
  <div class="row underlined">
    <%= form_tag collections_path, :method => :get, :id => "collections-search" do %>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group">
              <%= text_field_tag :query, params[:query], class: "form-control", list: "hints", id: "collection_search", autocomplete: "off" %>
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <span class="fa fa-search"></span>
                </button>
              </div>
            </div>
            <p class="help-block">Search for collection</p>
          </div>
        </div>
    <% end %>

    <div class="collection-buttons">
      <button class="btn btn-primary free-btn" data-toggle="modal" data-target="#newCollectionModal">
        New collection
      </button>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            Sort
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation" class="dropdown-header">by name</li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="" id="sort-alfa-col"><span class="fa fa-sort-alpha-asc"></span> Alphabetical</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="" id="sort-reverse-col"><span class="fa fa-sort-alpha-desc"></span> Reversed</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">by date created</li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="" id="sort-date-col"><span class="fa fa-long-arrow-down"></span> <span class="fa fa-calendar"></span> Newest</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="" id="sort-date-rev-col"><span class="fa fa-long-arrow-up"></span> <span class="fa fa-calendar"></span> Oldest</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">by last modifiaction</li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="" id="sort-mod-col"><span class="fa fa-long-arrow-down"></span> <span class="fa fa-wrench"></span> Recent</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="" id="sort-mod-rev-col"><span class="fa fa-long-arrow-up"></span> <span class="fa fa-wrench"></span> Old</a></li>
          </ul>
        </div>
       </div>
  </div>
</div>

<div id="collections-search-results-count">
  <%= render 'collections/collectionscounter' %>
</div>

<%= hidden_field_tag :add_item, params[:add_item], :id => "item-id" %>

<div id="collections-search-results" class="underlined">
    <%= render 'collections/collectionslist', collections: @collections %>
</div>

<% @collection = Collection.new %>
<%= my_modal("newCollectionModal", "New collection") do %>
    <%= render "collections/form", button_name: "Create" %>
<% end %>




