$("[id=share-form-button_<%= @permissible.class.name + '-' + @permissible.id.to_s %>]").each(function() {
    $(this).html("<%= escape_javascript(render partial: 'permissible/share_button', object: @permissible) %>")
});