<h2 class="mainpage_header collection">
  <%= @collection.name %> Collection
</h2>
<p>
  Last modified at <%= @collection.updated_at %>
</p>
<p class="collection-desc">
  <%= @collection.description %>
</p>

<div class="collection-buttons underlined">
  <% if @collection.user == current_user %>
  <%= link_to 'Add new item', new_collection_element_path(@collection), class: "btn btn-primary free-btn" %>
  <%= share_button @collection %>
  <% end %>
  <div class="dropdown sort-dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      Sort
     <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation" class="dropdown-header">by name</li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="sort-alfa"><span class="fa fa-sort-alpha-asc"></span> Alphabetical</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="" id="sort-reverse"><span class="fa fa-sort-alpha-desc"></span> Reversed</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation" class="dropdown-header">by date created</li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="" id="sort-date"><span class="fa fa-long-arrow-down"></span> <span class="fa fa-calendar"></span> Newest</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="" id="sort-date-rev"><span class="fa fa-long-arrow-up"></span> <span class="fa fa-calendar"></span> Oldest</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation" class="dropdown-header">by last modifiaction</li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="" id="sort-mod"><span class="fa fa-long-arrow-down"></span> <span class="fa fa-wrench"></span> Recent</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="" id="sort-mod-rev"><span class="fa fa-long-arrow-up"></span> <span class="fa fa-wrench"></span> Old</a></li>
    </ul>
  </div>
  <ul class="change-view">
    <li>
      <a href="" id="collection-shelf" class="active-view">
        <i class="fa fa-th fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="" id="collection-carousel">
        <i class="fa fa-th-large fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="" id="collection-list">
        <i class="fa fa-th-list fa-lg"></i>
      </a>
    </li>
    <% if @collection.user == current_user %>
    <li>
      <a href="<%= edit_collection_path(@collection) %>" id="collection-list">
        <i class="fa fa-cog fa-lg"></i>
      </a>
    </li>
    <% end %>
  </ul>
</div>

<div class="collection-view">
  <% unless @elements.empty? %>

    <div class="collection_carousel">
      <%= render 'collections/collectioncarousel' %>
    </div>

    <div class="collection-grid active underlined">
        <%= render 'collections/collectiongrid' %>
    </div>

    <div class="collection_listed">
        <%= render 'collections/collectionlist' %>
    </div>

    <% else %>
      <h3>This collection is empty!</h3>
    <% end %>
</div>



