<% content_for :sidebar do %>
<h3>Show me how to</h3>
<ul class="nav">
  <li><a href="#">Create collection</a></li>
  <li><a href="#">Add item</a></li>
  <li><a href="#">Manage profile</a></li>
  <li><a href="#">Explore</a></li>
  <li><a href="#">FAQ</a></li>
</ul>
<% end %>

<h1>Creating collections</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias blanditiis consectetur dolores esse est facilis inventore magni molestiae officiis vel. Architecto doloremque, nisi optio repellat reprehenderit temporibus ullam ut veniam!</p>

