<% unless user_signed_in? %>
    <% content_for :container_type, "container-fluid stretched" %>
    <div class="body">
      <div class="background bk_0 main_photo container-fluid" data-speed="10" data-index="-200">
        <div class="welcome_screen">
          <div class="main_title">
            <h1>BEVY
              <small class="sub_title">
                <p>Your ultimate collection manager</p>
                <div class="home_buttons">
                  <a href="" id="collect">Collect</a>
                  <a href="" id="share">Share</a>
                  <a href="" id="discover">Discover</a>
                </div>
              </small>
            </h1>
          </div>
        </div>
      </div>

      <div class="bk_join" id="bj_0">
        <div class="banner_text" id="bt_0">
          <h2 >COLLECT</h2>
          <p>Bevy helps you to manage your collections. Now you can keep all of them in one place.</p>
        </div>
        <div class="banner_img">
          <%= image_tag src='banner_1l.png', class: 'ban_img'%>
        </div>
        <div class="arrow ar_1"><a href="" class="ar_1"><span class="glyphicon glyphicon-chevron-down"></span></a></div>
      </div>

      <div class="background bk_1" data-speed="7" data-index="-1550"></div>

      <div class="bk_join" id="bj_1">
        <div class="banner_text" id="bt_1">
          <h2 >SHARE</h2>
          <p>Want to show your epic collection to the world? Just click share and everybody will be able to admire it.</p>
        </div>
        <div class="banner_img">
          <%= image_tag src='banner_2l.png', class: 'ban_img'%>
        </div>
        <div class="arrow ar_2"><a href="" class="ar_2"><span class="glyphicon glyphicon-chevron-down"></span></a></div>
      </div>

      <div class="background bk_2" data-speed="7" data-index="-2500"></div>

      <div class="bk_join" id="bj_2">
        <div class="banner_text" id="bt_2">
          <h2 >DISCOVER</h2>
          <p>No music to listen and no movies to watch? Browse collections we have selected for you to find something new.</p>
        </div>
        <div class="banner_img">
          <%= image_tag src='banner_3l.png', class: 'ban_img'%>
        </div>
        <div class="arrow ar_0"><a href="" class="ar_0"><span class="glyphicon glyphicon-chevron-up"></span></a></div>
      </div>

      <div class="background bk_3" data-speed="7" data-index="-3600"></div>

    </div>

<% else %>
    <div style="margin-top: 10px;position: absolute;">
      <h1 class="mainpage_header">Activity Feed</h1>
      <% if @activities.length > 0 %>
      <div class="activity">
        <ul class="activity-list">
          <% @activities.take(20).each do |activity| %>
              <%= render_activity(activity) %>
          <% end %>
        </ul>
      </div>
      <% else %>
          <strong>
            You
          </strong>
          don't have any activity yet. Follow someone in order to see some!
      <% end %>
    </div>
<%end%>