<h1 class="mainpage_header">Resend confirmation instructions</h1>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>


    <div class="form-group">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: false, class: "form-control free-input",placeholder: "E-mail", style: "margin-top: 2px;" %>
      </div>
    </div>

    <div class="col-xs-6 col-xs-offset-3 text-center" style="margin-top:10px;">
      <%= f.submit "Resend", class: "btn btn-lg btn-primary free-btn"%>
    </div>
<% end %>
<div class="col-xs-4 col-xs-offset-4 text-center links_footer" style="margin-top: 10px;">
  <%= render "devise/shared/links" %>
</div>
