<% unless activity.trackable.nil? %>
    <li class="activity-wrapper underlined">
      <%= link_to user_profile_path(activity.get_owner) do %>
          <span class="fa fa-user"></span>
          <%= activity.trackable.name != nil && activity.trackable.name != '' ? activity.trackable.name : activity.get_owner.username %>
      <% end %>
      updated his
      <%= link_to user_profile_path(activity.trackable.id) do %>
          <span class="fa fa-group"></span>
          profile.
      <% end %>
      <div class="activity-time">
        <%= time_ago_in_words(activity.created_at) %> ago
      </div>
    </li>
<% end %>