<%= form_for(:user, :url => registration_path(:user), :html => {:id => "sign-up-form"}) do |f| %>
    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, autofocus: true, action: username_available_url, class: "form-control free-input" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, id: "user-email-sign-up", action: email_available_url, class: "form-control free-input" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, id: "user-password-sign-up", class: "form-control free-input", placeholder: "Minimum 8 characters required." %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control free-input" %>
    </div>

    <div class="buttons-group">
      <ul class="horizontal">
        <li><%= f.submit "Sign up", class: "btn btn-primary free-btn"%></li>
        <%= yield :buttons %>
      </ul>
    </div>
<% end %>