<h1 class="mainpage_header">
  Profile settings
  <small>Account</small>
</h1>

<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :username   %>
        <%= f.text_field :username, autofocus: true, class: "form-control free-input", placeholder: "Username" %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: false, class: "form-control free-input", placeholder: "E-mail" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autofocus: false, class: "form-control free-input", placeholder: "Leave blank if you don't want to change" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autofocus: false, class: "form-control free-input", placeholder: "Confirm your new password" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, autofocus: false, class: "form-control free-input", placeholder: "We need it to confirm your changes" %>
      </div>

      <div class="buttons-group">
        <ul class="horizontal">
          <li><%= f.submit "Update", class: "btn btn-lg btn-primary free-btn"%></li>
          <li><%=link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></li>
          <li><!--   <%= link_to "Back", :back %> --></li>
          <%= yield :buttons %>
        </ul>
      </div>
  <% end %>
</div>



