<h1 class="mainpage_header">Sign up</h1>

<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
  <%= devise_error_messages! %>
  <%= render "form" %>
  <!--<%= render "devise/shared/links" %>-->
</div>





