<h3 class="comments-count">
  <%= commentable.comments.count %> comments
</h3>

<ul class="comments">
  <% comments.each do |comment| %>
      <%= comment_content commentable, comment %>
  <% end %>
</ul>