<li id="<%= anchor_for(:comment, comment.id) %>" class="comment">
  <%= link_to user_profile_path(comment.user_id), class: "avatar" do %>
      <%= image_or_placeholder comment.avatar.thumb.url, placeholder: "avatar_default.png" %>
  <% end %>

  <div class="message">
    <ul class="opts horizontal">
      <li><%= comment_anchor_link comment %></li>
      <li>
        <%= link_to underconst_path, title: "Report comment", class: "ucLink" do %>
            <i class="fa fa-flag-o"></i>
        <% end %>
      </li>
    </ul>

    <%= link_to comment.author, user_profile_path(comment.user_id), class: "author" %>

    <span class="ago"><%= time_ago_in_words(comment.created_at) %> ago</span>

    <p><%= comment.message %></p>

    <%= voting_for comment %>
  </div>

  <% unless comment.reply? %>
      <%= comment_replies commentable, comment %>
  <% end %>
</li>