<% if commentable %>
    <%= form_for [commentable, comment], html: {class: "comment form"}, remote: true do |f| %>
        <% if comment.errors.any? %>
            <div class="comment-errors">
              <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

              <ul>
                <% comment.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="comment form">
          <%= link_to user_profile_path(current_user.id), class: "avatar" do %>
              <%= image_or_placeholder @user_profile.avatar.comment_thumb.url %>
          <% end %>

          <div class="message">
            <%= f.text_area :message, placeholder: "Write a comment" %>
          </div>
        </div>

        <ul class="comment-actions horizontal">
          <% if comment.reply? %>
              <li><%= button_tag "Cancel", type: "button", class: "btn btn-default cancel" %></li>
          <% end %>

          <li><%= f.submit "Publish", data: {disable_with: "Publishing..."}, class: "btn btn-default" %></li>
        </ul>

        <div class="clearfix"></div>
    <% end %>
<% end %>