<div class="comment-replies">
  <ul>
    <% comment.comments.each do |reply| %>
        <%= comment_content commentable, reply %>
    <% end %>
  </ul>

  <%= link_to "Reply", new_comment_comment_path(comment), remote: true, class: "reply" %>
  <div class="clearfix"></div>
</div>