var newComment = $("<%= j comment_content @commentable, @comment %>").hide();

<% if @comment.reply? %>
    var comment = $("#comment_<%= @commentable.id %>"),
        form = comment.find(".comment.form"),
        replyBtn = comment.find("a.reply");

    replyBtn.show();
    form.find("textarea").val('');
    form.hide();

    comment.find(".comment-replies").find("ul").first().append(newComment);
<% else %>
    var form = $("#new_comment");

    form.find("textarea").val('');

    $(".comments").prepend(newComment);

    $(".comments-count").html("<%= @commentable.comments.count %>" + " comments");
<% end %>

newComment.fadeIn("slow");
