var comment = $("#comment_<%= @commentable.id %>");

var replyBtn = comment.find("a.reply"),
    replies = comment.find(".comment-replies");

replies.append("<%= j comment_form @commentable, @comment %>");

var form = comment.find(".form");

setCommentForm(form);
setReplyBtn(replyBtn);
replyBtn.hide();

form.find("textarea").focus();