<div class="item_attribute">
  <%= f.fields_for "attributes[#{i}]", attr do |a| %>
      <%= a.text_field :name, placeholder: "Attribute name" %>
      <%= a.text_field :value, class: "string_type", disabled: attr.type != "string", style: hide_if(attr.type != "string"), placeholder: "value" %>
      <%= a.date_field :value, class: "date_type", disabled: attr.type != "date", style: hide_if(attr.type != "date") %>
      <%= a.check_box :value, class: "state_type", disabled: attr.type != "state", checked: attr.value, style: hide_if(attr.type != "state") %>
      <%= a.number_field :value, class: "decimal_type", step: "any", disabled: attr.type != "decimal", style: hide_if(attr.type != "decimal"), placeholder: 0 %>
      <%= a.select :type, options_for_select([["State", "state", selected: attr.type == "state"],
                                              ["String", "string", selected: attr.type == "string"],
                                              ["Numerical", "decimal", selected: attr.type == "decimal"],
                                              ["Datetime", "date", selected: attr.type == "date"]]),
                   {}, class: "type_selector", onchange: "field_type_change(this)" %>
      <%= label_tag "destroy_attr", "Remove", class: "btn btn-primary", onclick: "remove_attribute(this)" %>
  <% end %>
</div>

