<% if @element.errors.any? %>
    <div class="row">
      <div class="bs-callout bs-callout-danger">
        <h4><%= pluralize(@element.errors.count, "error") %> prohibited this item from being saved:</h4>
        <ul>
          <% @element.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>

<%= form_for @element, :html => {:multipart => true, :id => "element-form"}, url: { action: action }, method: method do |f| %>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control free-input", rows: 3, value: @element.description, counter: 600 %>
    </div>

    <% @attributes.each_with_index do |attr, index| %>
        <%= render("attribute", attr: attr, f: f, i: index) unless attr.value.nil? %>
    <% end %>

    <%= link_to_add_attribute f %>

    <%= hidden_field_tag "item_id", @element.item_id %>
    <%= hidden_field_tag "collection_id", @element.collection_id %>

    <div class="form-group">
      <%= f.label :image %>
      <%= image_upload f, :image, preview_image: @element.get_image.thumb.url %>
    </div>

    <div class="buttons-group">
      <ul class="horizontal">
        <li><%= f.submit nil, class: "btn btn-primary free-btn" %></li>
        <%= yield :buttons %>
      </ul>
    </div>
<% end %>
