<h1 class="mainpage_header"><%= @item.name %></h1>
<p class="well">
  You are going to add this item to your collection <strong><%= @collection.name %></strong>.
  You can modify this item's attributes here and all the changes will be
  visible only when viewing this item in one of your collections,
  so don't hesitate to add anything personal, remove information you don't need or edit existing attributes.
</p>

<% content_for :buttons do %>
    <li><%= cancel_to collection_path(@collection) %></li>
<% end %>

<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
  <%= render 'form', action: "create", method: "post" %>
</div>
