<% content_for :container_type, "container-fluid stretched" %>

<div id="item-wrapper" class="container-fluid container-md-stretched col-top">
  <div class="row row-md-stretched">
    <div id="item-showcase" class="col-md-5 col-md-stretched no-padding">
      <% if @element.get_image.standard.url %>
      <a class="fancybox" href="<%= @element.get_image.standard.url %>">
        <%= image_or_placeholder @element.get_image.standard.url %>
      </a>
      <% else %>
        <%= image_or_placeholder @element.get_image.standard.url %>
      <% end %>
      <ul id="item-social-opts">
        <li>
        </li>
      </ul>
    </div>

    <div id="item-info" class="col-md-7 col-md-stretched col-top">
      <% unless @element.item.user.nil? %>
          <div id="item-creation-info" class="pull-right">
            <%= user_avatar @element.item.user.user_profile, nil, "avatar" %>
            <p>
              Created by
              <%= link_to user_profile_path(@element.item.user) do %>
                  <strong><%= @element.item.user.name_or_username %></strong></a>
              <% end %>
              <i>
                <% if @ago.between?(1, 14)  %>
                    <%= pluralize(@ago, "day") %> ago
                <% elsif @ago == 0 %>
                    today
                <% else %>
                    on <%= @element.item.created_at.to_date %>
                <% end %>
              </i>
            </p>
          </div>
      <% end %>
      <h1>
        <%= @element.name %>
        <small>
          from
          <%= link_to @element.collection.name, @element.collection %>
        </small>
      </h1>
      <p class="description">
        <%= @element.description %>
      </p>

      <div id="item-attributes" class="row">
        <% attr_per_col = @attributes.length / 2 %>
        <% attr_per_col = (attr_per_col > 0) ? attr_per_col : 1 %>
        <% @attributes.each_slice(attr_per_col) do |attr_slice| %>
            <div class="col-md-6">
              <dl>
                <% attr_slice.each do |attr| unless attr.value.nil? %>
                        <dt><%= label_tag attr.name, attr.name %></dt>
                        <dd><%= label_tag attr.value.to_s, attr.value.to_s %></dd>
                    <% end end %>
              </dl>
            </div>
        <% end %>
      </div>
      <% if @collection.user == current_user %>
      <ul id="item-opts" class="horizontal">
        <li>
          <%= link_to "Edit", edit_collection_element_path(@collection, @element), class: "btn btn-default" %>
        </li>
        <li>
          <%= link_to [@collection, @element], method: :delete, data: { confirm: "Are you sure you want to remove this element?\nThis action is irreversible!" }, class: "btn btn-default" do %>
              <i class="fa fa-trash"></i>
          <% end %>
        </li>
      </ul>
      <% end %>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= comment_form @commentable, @comment %>
      <%= comments_list @commentable, @comments %>
    </div>

    <div class="col-md2">
    </div>
  </div>
</div>