<h1 class="mainpage_header">Search results</h1>
<% if @objects.present? %>
  <ul class="media-list search-results">
    <% @objects.each do |object| %>
          <% if object.is_a?(Item) %>
            <li class="media item underlined">
              <%= link_to object do %>
                <%= image_or_placeholder object.image.thumb.url, class: "img-list media-object pull-left" %>
                  <div class="media-body">
                    <small style="color:grey"><i>Item</i></small>
                    <h3>
                        <%= object.name %>
                    </h3>
                    <p><%= object.description.blank? ? content_tag(:span, "No description", style: "color:grey;") : truncate(object.description, :length => 250) %></p>
                  </div>
              <% end %>
                  <% unless object.all_attributes.empty? %>
                      <span class="fa fa-caret-down item-details"></span>
                      <div class="item-attr list-attr">
                        <ul class="attr-list">
                          <% object.all_attributes.each do |attr| %>
                                <li><% if attr.type == "state" %>
                                      <%= attr.name %> <i class="<%= attr.value ? "fa fa-plus-square-o" : "fa fa-minus-square-o" %>"></i>
                                  <% else %>
                                      <%= "#{attr.name}: #{attr.value}" %>
                                  <% end %></li>
                            <% end %>
                        </ul>
                      </div>
                  <% end %>
            </li>

          <% elsif object.is_a?(Collection) %>
            <li class="media item underlined">
              <%= link_to object do %>
                <%= image_tag src='bevy_logo.png', class: "img-list media-object pull-left" %>

              <div class="media-body">
                <small style="color:grey"><i>Collection</i></small>
                <h3>
                  <%= object.name %>
                </h3>
                <p><%= object.description.blank? ? content_tag(:span, "No description", style: "color:grey;") : truncate(object.description, :length => 250) %></p>
              </div>
              <% end %>
            </li>
          <% elsif object.is_a?(User) %>
            <li class="media item underlined">
              <%= link_to object.user_profile do %>
                  <%= image_or_placeholder object.user_profile.avatar.thumb.url, :placeholder => "avatar_default.png", class: "img-list media-object pull-left" %>
                  <div class="media-body">
                    <small style="color:grey"><i>User</i></small>
                    <h3>
                      <%= object.username %>
                    </h3>
                    <p><%= object.user_profile.description.blank? ? content_tag(:span, "No description", style: "color:grey;") : truncate(object.user_profile.description, :length => 150) %></p>
                  </div>
              <% end %>
            </li>
          <% end %>
    <% end %>
  </ul>

<% else %>
  <h3 style="text-align: center">
    We're sorry but we couldn't find anything matching "<%= params[:search] %>".
  </h3>
<% end %>
