<%= cloudinary_js_config %>

<div class="upload-opts">
  <ul class="horizontal">
    <li class="u-upload">
      <%= f.cl_image_upload(
                  field,
                  :return_delete_token => true,
                  :folder => folder_for(field),
                  :class => "u-upload-input") %>
      <%= f.hidden_field(cache_for(field)) %>

      <i class="fa fa-cloud-upload"></i>
      <span class="caption">Upload</span>

      <div class="u-progress">
        <div class="u-progress-bar"></div>
      </div>
    </li>

    <li class="u-remote">
      <i class="fa fa-link"></i>
      <span class="caption">URL</span>
    </li>

    <li class="u-preview">
      <% unless preview_image.nil? %>
          <a href="#">
            <span class="undertaker remove">
              <i class="fa fa-close"></i>
            </span>
          </a>

          <%= f.check_box remove_sym_for(field), class: "remove hidden" %>
      <% end %>

      <%= image_or_placeholder preview_image, class: "preview" %>
      <span class="caption overlap"><span>Preview</span></span>
    </li>
  </ul>

  <p class="u-status hidden"></p>

  <div class="form-group">
    <%= f.label remote_sym_for(field) %>
    <%= f.text_field remote_sym_for(field), class: "u-remote-input form-control free-input" %>
  </div>
</div>
