<h1 class="mainpage_header">Resend unlock instructions</h1>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

    <div class="form-group">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <%= f.email_field :email, autofocus: false, class: "form-control free-input",placeholder: "E-mail" %>
      </div>
    </div>


    <div class="col-xs-6 col-xs-offset-3 text-center" style="margin-top:10px;">
      <%= f.submit "Unlock", class: "btn btn-lg btn-primary free-btn"%>
    </div>
<% end %>

<div class="col-xs-4 col-xs-offset-4 text-center links_footer" style="margin-top: 10px;">
  <%= render "devise/shared/links" %>
</div>