<div id="up-following">
  <% if followed.count < 1 %>
      <h3 style="text-align: center">
          <strong>
            <%= @shown_user.name_or_username %>
          </strong>
          doesn't follow any profile.
      </h3>
  <% else %>
      <% followed.distinct.each do |followed| %>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
                <%= link_to followed.user_profile do %>
                  <%= image_or_placeholder followed.user_profile.avatar.thumb.url, :placeholder => "avatar_default.png", class: "img-responsive" %>
                  <div class="caption">
                    <h3>
                      <%= followed.username %>
                    </h3>
                  </div>
                <% end %>
                <ul class="horizontal text-center">
                    <% if @current_user != followed %>
                        <%= follow_button followed %>
                    <% end %>
                </ul>
            </div>
          </div>
      <% end %>
  <% end %>
</div>