<div id="follow-form-button_<%= follow_button.id %>">
    <% if current_user.is_following?(follow_button) %>
        <%= form_for(current_user.relationships.find_by(followed_user_id: follow_button.id), html: { method: :delete }, remote: true) do |f| %>
          <%= button_tag type: "submit", class: "btn btn-default", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait" } do %>
              <i class="fa fa-eye-slash"></i>
              Unfollow
          <% end %>
        <% end %>
    <% else %>
        <%= form_for(current_user.relationships.build(followed_user_id: follow_button.id), remote: true) do |f| %>
          <div><%= f.hidden_field :followed_user_id %></div>
          <%= button_tag type: "submit", class: "btn btn-default", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait" } do %>
              <i class="fa fa-eye"></i>
              Follow
          <% end %>
        <% end %>
    <% end %>
</div>