$("[id=follow-form-button_<%= @user.id %>]").each(function() {
    $(this).html("<%= escape_javascript(render partial: 'relationships/follow_button', object: @user) %>")
});
<% unless @following_user.nil? %>
    $("[id=circle-picker-form-button_<%= @following_user.id %>]").each(function() {
        $(this).html("<%= escape_javascript(render partial: 'circles/circle_picker_button', :locals => {followed_user: @user, following_user: @following_user }) %>")
    });
<% end %>