<h1 class="mainpage_header">Change your password</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
  <div class="form-group">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <%= f.password_field :password, autofocus: true, class: "form-control free-input",placeholder: "New password",autocomplete: "off" %>
    </div>
  </div>


  <div class="form-group">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <%= f.password_field :password_confirmation, autofocus: true, class: "form-control free-input",placeholder: "Confirm new password",autocomplete: "off" %>
    </div>
  </div>


  <div class="col-xs-6 col-xs-offset-3 text-center" style="margin-top:10px;">
    <%= f.submit "Change my password", class: "btn btn-lg btn-primary free-btn"%>
  </div>
<% end %>
<div class="col-xs-4 col-xs-offset-4 text-center links_footer" style="margin-top: 10px;">
  <%= render "devise/shared/links" %>
</div>
