<h1 class="mainpage_header">
  Profile settings
  <small>Account</small>
</h1>

<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "sign-up-edit-form" }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :username   %>
        <%= f.text_field :username, autofocus: true, action: username_available_url, class: "form-control free-input" %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, action: email_available_url, class: "form-control free-input" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control free-input", placeholder: "Minimum 8 characters required." %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control free-input" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: "form-control free-input" %>
      </div>

      <div class="buttons-group">
        <ul class="horizontal">
          <li><%= f.submit "Update", class: "btn btn-primary free-btn"%></li>
          <li>
            <%=link_to registration_path(resource_name), data: { confirm: "Are you sure you want to delete your account?\nThis action is irreversible!" }, method: :delete, class: "btn btn-default" do %>
                <i class="fa fa-trash"></i>
                Cancel my account
            <% end %>
          </li>
          <li><!--   <%= link_to "Back", :back %> --></li>
          <%= yield :buttons %>
        </ul>
      </div>
  <% end %>
</div>

