<h2>
  Recent activity
</h2>
<% if @activities.length > 0 %>
    <div class="activity">
      <ul class="activity-list">
        <% @activities.take(10).each do |activity| %>
            <%= render_activity(activity) %>
        <% end %>
      </ul>
    </div>
<% else %>
    <strong>
      <%= @shown_user_profile.name != nil && @shown_user_profile.name != '' ? @shown_user_profile.name : @shown_user.username %>
    </strong>
    does not have any activity yet.
<% end %>
