<% @collections.each_slice(4) do |collection_slice| %>
    <div class="item">
      <div class="collections-list row">
        <% collection_slice.each do |collection| %>
          <%= link_to collection do %>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="thumbnail">
                <%= image_tag "bevy_logo.png" %>
                <div class="caption">
                  <h3>
                    <%= link_to collection.name, collection %>
                    <small>Created by: <%= collection.user.name_or_username %></small>
                  </h3>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
<% end %>
