<h1 class="mainpage_header">
  Profile settings
  <small>Personal</small>
</h1>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-centered">
    <%= form_for @user_profile, :html => {:multipart => true, :id => "personal-settings-form"} do |f| %>
        <div class="form-group">
          <%= f.label :avatar %>
          <%= image_upload f, :avatar, preview_image: @user_profile.avatar.thumb.url %>
        </div>

        <div class="form-group">
          <%= f.label :name %>
          <span class="help-block">Give us your full name.</span>
          <%= f.text_field :name, autofocus: true, class: "form-control free-input", counter: 50 %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <span class="help-block">What should people know about you? What are your interests? What are your hopes and dreams?</span>
          <%= f.text_area :description, class: "form-control vert textarea", rows: 5, counter: 1000 %>
        </div>
        <div class="form-group">
          <%= f.label :location %>
          <span class="help-block">Share your geographic coordinates or home town.</span>
          <%= f.text_field :location, class: "form-control free-input" %>
        </div>
        <div class="form-group">
          <%= f.label :gender, "Gender" %>
          <span class="help-block">Let us know so we can call you by the appropriate pronoun.</span>
          <%= f.select :gender, [["Male", 1], ["Female", 2], ["N/A", 3]], class: "form-control free-input" %>
        </div>
        <div class="form-group">
          <%= f.label :website %>
          <%= f.text_field :website, class: "form-control free-input" %>
        </div>
        <div class="text-center">
          <%= f.submit "Save changes", class: "btn btn-lg btn-primary free-btn" %>
        </div>
    <% end %>
  </div>
</div>