<div id="users-search-bar">
  <div class="row">
    <%= form_tag user_profiles_path, :method => :get, :id => "users-search" do %>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group">
              <%= text_field_tag :query, params[:query], class: "form-control", list: "hints", id: "user_search", autocomplete: "off" %>
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
            </div>
            <p class="help-block">Search for existing users</p>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div id="users-search-results-count">
  <%= render 'user_profiles/userscounter' %>
</div>
<div id="users-search-results">
  <%= render 'user_profiles/userslist' %>
</div>

