<ul class="row">
  <% @users.each do |user| %>
      <% unless current_user == user %>
          <li class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
              <%= link_to user.user_profile do %>
                <%= image_or_placeholder user.user_profile.avatar.thumb.url, :placeholder => "avatar_default.png", class: "img-responsive" %>
                <div class="caption">
                  <h3>
                    <%= user.username %>
                  </h3>
                </div>
              <% end %>
              <ul class="text-center horizontal">
                <%= follow_button user %>
              </ul>
            </div>
          </li>
      <% end %>
  <% end %>
</ul>
