<div class="container-fluid">
  <ul class="users-list row">
    <% users.each do |user| %>
        <li class="col-xs-6 col-sm-4 col-md-3">
          <div class="thumbnail">
            <%= link_to user.profile do %>
                <%= image_or_placeholder user.profile.avatar.thumb.url, placeholder: "avatar_default.png", class: "img-responsive" %>
            <% end %>

            <h4>
              <%= link_to user.profile do %>
                  <%= user.name_or_username %>
              <% end %>
            </h4>
          </div>
        </li>
    <% end %>
  </ul>
</div>
