<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#account" role="tab" data-toggle="tab">Account</a></li>
  <li><a href="#personal" role="tab" data-toggle="tab">Personal</a></li>
  <li><a href="<%= errors_under_construction_url %>" class="ucLink">Collections</a></li>    <!-- TODO -->
  <li><a href="<%= errors_under_construction_url %>" class="ucLink">Social</a></li>         <!-- TODO -->
  <li><a href="<%= errors_under_construction_url %>" class="ucLink">Advanced</a></li>       <!-- TODO -->
  <!-- <li><a href="#collections" role="tab" data-toggle="tab">Collections</a></li>   <!-- TODO -->
  <!-- <li><a href="#social" role="tab" data-toggle="tab">Social</a></li>             <!-- TODO -->
  <!-- <li><a href="#advanced" role="tab" data-toggle="tab">Advanced</a></li>         <!-- TODO -->
</ul>

<% if @user_profile.errors.any? %>
    <div class="row">
      <div class="bs-callout bs-callout-danger">
        <h4><%= pluralize(@user_profile.errors.count, "error") %> prohibited this item from being saved:</h4>
        <ul>
          <% @user_profile.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>

<div class="tab-content">
  <div class="tab-pane active" id="account">
    <%= render 'account_settings' %>
  </div>
  <div class="tab-pane" id="personal">
    <%= render 'personal_settings' %>
  </div>
  <div class="tab-pane" id="collections">
    <%= render 'collections_settings' %>
  </div>
  <div class="tab-pane" id="social">
    <%= render 'social_settings' %>
  </div>
  <div class="tab-pane" id="advanced">
    <%= render 'advanced_settings' %>
  </div>
</div>