$('#users-search-results').html('<%= escape_javascript(render('user_profiles/userslist')) %>');
$('#users-search-results-count').html('<%= escape_javascript(render('user_profiles/userscounter')) %>');

<% if params[:query] == "" %>
//TODO consider hiding/showig this after adding endlessscroll and pagintation
//$('#users-search-results').hide();
$('#users-search-results-count').hide();
<% else %>
$('#users-search-results').fadeIn(1000);
$('#users-search-results-count').show();
<% end %>
