<div id="up-header" class="row">
  <div id="up-avatar" class="col-xs-12 col-sm-4 col-md-3 no-padding">
    <a class="fancybox" href="<%= @shown_user_profile.avatar.standard.url %>">
      <%= image_or_placeholder @shown_user_profile.avatar.thumb.url, :placeholder => "avatar_default.png", class: "img-responsive" %>
    </a>

    <ul id="social-opts">
      <li><a class="ucLink" href="<%= errors_under_construction_url %>"><i class="fa fa-facebook"></i></a></li>  <!-- TODO -->
      <li><a class="ucLink" href="<%= errors_under_construction_url %>"><i class="fa fa-twitter"></i></a></li>   <!-- TODO -->
      <li><a class="ucLink" href="<%= errors_under_construction_url %>"><i class="fa fa-youtube"></i></a></li>   <!-- TODO -->
      <li><a class="ucLink" href="<%= errors_under_construction_url %>"><i class="fa fa-instagram"></i></a></li> <!-- TODO -->
      <% if @shown_user_profile.website && !@shown_user_profile.website.empty? %>
          <li><a href="<%= @shown_user_profile.website %>"><i class="fa fa-home"></i></a></li>
      <% end %>
    </ul>
  </div>

  <div id="up-description" class="col-xs-12 col-sm-8 col-md-9">
    <% if @shown_user != current_user %>
        <ul id="up-opts" class="pull-right">
          <li>
            <%= follow_button @shown_user %>
          </li>
          <li>
            <a class="btn btn-default ucLink" href="<%= errors_under_construction_url %>"> <!-- TODO -->
              <i class="fa fa-envelope"></i>
              Message
            </a>
          </li>
        </ul>
    <% end %>

    <h1>
      <%= link_to @shown_user_profile do %>
          <%= @shown_user.name_or_username %>
      <% end %>
      <small><%= @shown_user_profile.location %></small>
    </h1>

    <p class="description"><%= @shown_user_profile.description %></p>

    <div id="up-stats" class="row">
      <div class="col-xs-6 col-sm-3 col-md-3 stats">
        <%= link_to collections_path, class: "count" do %>
            <%= @collections.length %>
        <% end %>
        Collections
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 stats">
        <a class="count ucLink" href="<%= errors_under_construction_url %>">0</a> <!-- TODO -->
        Items
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 stats">
        <%= link_to user_profile_circles_path(@shown_user), class: "count" do %>
            <%= @shown_user.followers.distinct.count %>
        <% end %>
        Followers
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 stats last">
        <%= link_to following_user_profile_path, class: "count" do %>
            <%= @shown_user.followed_users.distinct.count %>
        <% end %>
        Following
      </div>
    </div>
  </div>
</div>

<div id="up-overview">
  <h2 id="up-collections-header">
    Collections
    <i class="chevron fa fa-chevron-up pull-right"></i>
  </h2>

  <% if @collections.length > 0 %>
      <div id="up-collections" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% @collections.each_slice(4) do |collections| %>
              <div class="item">
                <%= render 'collections/collectionslist', collections: collections %>
              </div>
          <% end %>
        </div>

        <a class="left carousel-control" href="#up-collections" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#up-collections" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
  <% else %>
      <div id="up-collections">
        <strong>
          <%= @shown_user.name_or_username %>
        </strong>
        does not have any collections yet.
      </div>
  <% end %>

  <div class="row">
    <div class="col-md-8">
      <h2 id="up-followers-header">
        Followers
        <i class="chevron fa fa-chevron-up pull-right"></i>
      </h2>

      <div id="up-followers">
        <% if @shown_user.followers.count == 0 %>
            <strong><%= @shown_user.name_or_username %></strong>
            does not have any followers yet.
        <% else %>
            <%= render "user_profiles/users_list", users: @shown_user.followers.distinct %>
        <% end %>
      </div>

      <h2 id="up-following-header">
        Following
        <i class="chevron fa fa-chevron-up pull-right"></i>
      </h2>

      <div id="up-following">
        <% if @shown_user.followed_users.count == 0 %>
            <strong><%= @shown_user.name_or_username %></strong>
            doesn't follow any profile.
        <% else %>
            <%= render "user_profiles/users_list", users: @shown_user.followed_users.distinct %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 user-activity-feed">
      <%= render 'activity_feed' %>
    </div>
  </div>
</div>
