<div id="share-form-button_<%= share_button.class.name + '-' + share_button.id.to_s %>" class="share-button-container">
  <% if share_button.public? %>
    <%= button_to "Unshare", { action: 'public_unshare' }, method: :post, remote: true  , class: "btn btn-default free-btn" %>
  <% else %>
    <%= button_to "Share",  { action: 'public_share' }, method: :post, remote: true , class: "btn btn-default free-btn" %>
  <% end %>
</div>