<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#users" role="tab" data-toggle="tab">Users</a></li>
  <li><a href="#followers" role="tab" data-toggle="tab">Followers</a></li>
  <li><a href="#following" role="tab" data-toggle="tab" class="following-list" data-url="<%= following_list_user_profile_path(@shown_user.id) %>">Following</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="users">
    <h1 class="mainpage_header">
      Users
    </h1>
    <%= render 'user_profiles/usersearch' %>
  </div>
  <div class="tab-pane" id="followers">
    <% if current_user == @shown_user %>
        <%= render 'circles/circleslist' %>
    <% end %>
    <div class="circle-picker" id="circle-users">
        <%= render partial: 'circles/followers', :locals => { followers: @shown_user.followers } %>
    </div>
  </div>
  <div class="tab-pane" id="following">
    <h1 class="mainpage_header">
      Following
    </h1>
    <div id="following-users">
        <%= render partial: 'relationships/following', :locals => { followed: @shown_user.followed_users }%>
    </div>
  </div>
</div>