<%= form_for(:user, :url => session_path(:user), :html => {:id => "sign-in-form"}) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, id: "user-email-sign-in", autofocus: true, class: "form-control free-input" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, id: "user-password-sign-in", class: "form-control free-input" %>
    </div>

    <div class="form-group text-center">
      <label for="check">
        <%= f.check_box :remember_me, id: "check"%>
        Remember me
      </label>
    </div>

    <div class="buttons-group">
      <ul class="horizontal">
        <li><%= f.submit "Sign in", class: "btn btn-primary"%></li>
        <%= yield :buttons %>
      </ul>
    </div>
<% end %>