<% if @item.errors.any? %>
    <div class="row">
      <div class="bs-callout bs-callout-danger">
        <h4><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h4>
        <ul>
          <% @item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>

<%= form_for @item, :html => {:id => "item-form"} do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: "form-control free-input", counter: 50 %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control free-input", rows: 3, counter: 600 %>
    </div>
    <div class="dropdown templates-dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-template" data-toggle="dropdown">
        <span id="current-template">Category</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
        <li role="presentation" id="film-category"><a role="menuitem" tabindex="-1" href="#">Film</a></li>
        <li role="presentation" id="music-category"><a role="menuitem" tabindex="-1" href="#">Music</a></li>
        <li role="presentation" id="book-category"><a role="menuitem" tabindex="-1" href="#">Book</a></li>
        <li role="presentation" id="game-category"><a role="menuitem" tabindex="-1" href="#">Game</a></li>
        <li role="presentation" id="other-category"><a role="menuitem" tabindex="-1" href="#">Other</a></li>
      </ul>
    </div>
    <div class="form-group">
      <% @attributes.each_with_index do |attr, index| %>
          <%= render("items/attribute", attr: attr, f: f, i: index) unless attr.value.nil? %>
      <% end %>

      <%= link_to_add_attribute f %>

    </div>

    <div class="form-group">
      <%= f.label :image %>
      <%= image_upload f, :image, preview_image: @item.image.thumb.url %>
    </div>

    <div class="buttons-group">
      <ul class="horizontal">
        <li><%= f.submit nil, class: "btn btn-primary free-btn" %></li>
        <%= yield :buttons %>
      </ul>
    </div>
<% end %>
