<%= hidden_field_tag :collection_id, params[:collection_id], :id => "collection-id" %>
<div class="row">
  <% @items.each do |item| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail">
        <a href="<%= item_path(item) %>">
          <%= image_or_placeholder item.image.thumb.url %>
          <div class="caption">
            <h3>
              <%= link_to item, title: item.name do %>
                  <%= item.name %>
              <% end %>
              <% unless item.user.nil? %>
                <small>Created by: <%= item.user.name_or_username %></small>
              <% end %>
            </h3>
            <div style="margin-top: 15px" class="text-center">
              <% if user_signed_in? %>
                  <span>
                    <% if params[:collection_id] %>
                        <% collection = Collection.find_by_id(params[:collection_id]) %>
                        <% if collection.items.include? item %>
                          <a data-toggle="modal" data-target="#addItemModal" class="btn btn-default">
                            <i class="fa fa-plus-square-o"></i>
                            Add
                          </a>
                          <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-body">
                                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                  <h3 style="text-align: center">Item already exists in the <%= collection.name %>. </h3>
                                  <br>
                                  <a class="btn btn-primary" href="<%= new_collection_element_path(collection.id, item_id: item.id) %>">
                                    <i class="fa fa-eye"></i>
                                    Show
                                  </a>
                                  <a class="btn btn-default" href="<%= collections_path(add_item: item.id) %>">
                                    <i class="fa fa-plus-square-o"></i>
                                    Add to another
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        <% else %>
                            <a href="<%= new_collection_element_path(params[:collection_id], item_id: item.id) %>" class="btn btn-default">
                                <i class="fa fa-plus-square-o"></i>
                                Add
                            </a>
                        <% end %>
                    <% else %>
                        <a href="<%= collections_path(add_item: item.id) %>" class="btn btn-default">
                            <i class="fa fa-plus-square-o"></i>
                            Add
                        </a>
                    <% end %>
                  </span>
              <% end %>
            </div>
          </div>
        </a>
        </div>
      </div>
  <% end %>
</div>
