<h1 class="mainpage_header">Items</h1>

<div id="items-search-bar">
  <div class="row">
    <%= form_tag items_path, :method => :get, :id => "items-search" do %>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <%= text_field_tag :query, params[:query], class: "form-control", list: "hints", id: "item_search", autocomplete: "off" %>
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <span class="fa fa-search"></span>
              </button>
            </div>
          </div>
          <p class="help-block">Search for existing item to add it to your collection</p>
        </div>
      </div>
    <% end %>
    <% if user_signed_in? %>
        <div class="col-md-2">
          <button class="btn btn-primary free-btn pull-right" data-toggle="modal" data-target="#newItemModal">
            Create new item
          </button>
        </div>
    <% end %>
  </div>
</div>

<div id="items-search-results-count">
  <%= render 'items/itemscounter' %>
</div>
<div id="items-search-results">
  <%= render 'items/itemslist' %>
</div>

<% @item = Item.new %>
<%= my_modal("newItemModal", "Create a new item") do %>
    <%= render "items/form" %>
<% end %>