$('#items-search-results').html('<%= escape_javascript(render('items/itemslist')) %>');
$('#items-search-results-count').html('<%= escape_javascript(render('items/itemscounter')) %>');

<% if params[:query] == "" %>
  //TODO consider hiding/showig this after adding endlessscroll and pagintation
  //$('#items-search-results').hide();
  $('#items-search-results-count').hide();
<% else %>
  $('#items-search-results').fadeIn(1000);
  $('#items-search-results-count').show();
<% end %>
