<h1 class="mainpage_header">Create a new item</h1>

<% content_for :buttons do %>
    <li><%= cancel_to items_path %></li>
<% end %>

<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
  <%= render 'form' %>
</div>
