<% content_for :container_type, "container-fluid stretched" %>

<div id="item-wrapper" class="container-fluid container-md-stretched col-top">
  <div class="row row-md-stretched">
    <div id="item-showcase" class="col-md-5 col-md-stretched no-padding">
      <% if @item.image.standard.url %>
      <a class="fancybox" href="<%= @item.image.standard.url %>">
        <%= image_or_placeholder @item.image.standard.url %>
      </a>
      <% else %>
        <%= image_or_placeholder @item.image.standard.url %>
      <% end %>
      <ul id="item-social-opts" class="horizontal">
        <li>
        </li>
      </ul>
    </div>

    <div id="item-info" class="col-md-7 col-md-stretched col-top">
      <% unless @item.user.nil? %>
          <div id="item-creation-info" class="pull-right">
            <%= user_avatar @item.user.user_profile, :small_thumb, "avatar" %>
            <p>
              Created by
              <%= link_to user_profile_path(@item.user) do %>
                  <strong><%= @item.user.name_or_username %></strong></a>
              <% end %>
              <i>
                <% if @ago.between?(1, 14)  %>
                    <%= pluralize(@ago, "day") %> ago
                <% elsif @ago == 0 %>
                    today
                <% else %>
                    on <%= @item.created_at.to_date %>
                <% end %>
              </i>
            </p>
          </div>
      <% end %>

      <h1><%= @item.name %></h1>
      <p class="description">
        <%= @item.description %>
      </p>

      <div id="item-attributes" class="row">
        <% attr_per_col = @attributes.length / 2 %>
        <% attr_per_col = (attr_per_col > 0) ? attr_per_col : 1 %>
        <% @attributes.each_slice(attr_per_col) do |attr_slice| %>
            <div class="col-md-6">
              <dl>
                <% attr_slice.each do |attr| unless attr.value.nil? %>
                        <dt><%= label_tag attr.name, attr.name %></dt>
                        <dd><%= label_tag attr.value.to_s, attr.value.to_s %></dd>
                    <% end end %>
              </dl>
            </div>
        <% end %>
      </div>

      <% if user_signed_in? %>
          <ul id="item-opts" class="horizontal">
            <li>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="collection-select" data-toggle="dropdown">
                  Add to...
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="collection-select">
                  <li role="presentation" class="dropdown-header">Add to</li>
                  <% @available_cols.first(5).each do |col| %>
                      <li><%= link_to col.name, element_path(col) %></li>
                  <% end %>

                  <% if @available_cols.length > 5 %>
                  <li>
                    <a class="collections-link" href="<%= collections_path(add_item: @item.id) %>">
                      <i class="fa fa-cubes"></i>
                      More collections...
                    </a>
                  </li>
                  <% end %>
                  <li>
                    <a data-toggle="modal" data-target="#newCollectionModal" href="#">
                      <i class="fa fa-plus"></i>
                      Create collection
                    </a>
                  </li>
                </ul>
              </div>
            </li>
        <% else %>
          <ul id="item-opts" class="horizontal">
            <li>
              <%= link_to new_user_session_path do %>
                  <button class="btn btn-default" type="button">
                    Sign in to add to collection
                  </button>
              <% end %>
            </li>
          </ul>
        <% end %>

        <% if user_has_role? "level2" %>
            <li>
              <%= link_to "Edit", edit_item_path(@item), class: "btn btn-default" %>
            </li>
            <li>
              <%= link_to [@item], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
                  <i class="fa fa-trash"></i>
              <% end %>
            </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>

<% if user_signed_in? %>
    <div class="modal fade" id="newCollectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h1 class="mainpage_header">New collection</h1>
          </div>
          <div class="modal-body">
            <% @collection = Collection.new %>
            <%= render 'collections/form', button_name: "Create" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= comment_form @commentable, @comment if user_signed_in? %>
          <%= comments_list @commentable, @comments %>
        </div>

        <div class="col-md2">
        </div>
      </div>
    </div>
<% end %>

