<li class="activity-wrapper underlined">
  <%= link_to user_profile_path(activity.get_owner) do %>
      <span class="fa fa-user"></span>
      <%= activity.get_owner.user_profile.name != nil && activity.get_owner.user_profile.name != '' ? activity.get_owner.user_profile.name : activity.get_owner.username %>
  <% end %>
  created collection
  <% if activity.trackable.nil? %>
    already deleted.
  <% else %>
    <%= link_to collection_path(activity.trackable.id) do %>
        <span class="fa fa-cubes"></span>
        <%= activity.trackable.name %>.
    <% end %>
  <% end %>
  <div class="activity-time">
    <%= time_ago_in_words(activity.created_at) %> ago
  </div>
</li>