<%= form_for @post, :html => {:id => "post-form"} do |f| %>
    <% if @post.errors.any? %>
        <div class="row">
          <div class="bs-callout bs-callout-danger">
            <h4><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h4>
            <ul>
              <% @post.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :publication %>
      <%= f.datetime_select :publication, class: "form-control free-input" %>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, autofocus: true, class: "form-control free-input", counter: 100 %>
    </div>

    <div class="form-group">
      <%= f.label :content %><br>
      <%= f.text_area :content, class: "form-control post-entry-textarea", rows: 20, counter: 10000 %>
    </div>

    <div class="buttons-group">
      <ul class="horizontal">
        <li><%= f.submit nil, class: "btn btn-primary free-btn" %></li>
        <%= yield :buttons %>
      </ul>
    </div>
<% end %>
