<% @posts = Post.order("publication desc") %>
<% @posts.each do |post| %>
    <div class="well">
      <div class="scheduler-border">
        <legend>
          <h1><%= link_to post.title, post %></h1>
          <div style="float: right"><h5>
            <% user_has_role? "level2" do %>
                <%= link_to 'Edit', edit_post_path(post) %>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </h5></div>
          <div style="text-align: left"><h5><%= post.publication %></h5></div>
        </legend>
        <div class="control-group post-entry">
          <%= post.content.html_safe %>
          <br>
          <strong><%= post.user.username %></strong>
        </div>
      </div>
    </div>
<% end %>