<% user_has_role? "level2" do %>
    <%= link_to "New post", new_post_path, :class => "btn btn-primary btn-lg pull-right" %>
<% end %>
<h1 class="mainpage_header">Listing posts</h1>

<%= render 'postslist' %>
