<div class="well well-lg">
    <h1 class="mainpage_header"><%= @post.title %></h1>
    <legend>
      <div style="float: right"><h5><%= @post.publication %></h5></div>
      <div style="text-align: left"><h5>Author: <strong><%= @post.user.username %></strong></h5></div>
    </legend>
    <%= @post.content.html_safe %>
    <% user_has_role? "Moderator" do %>
      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
</div>