<li class="activity-wrapper underlined">
  <%= link_to user_profile_path(activity.get_owner) do %>
      <span class="fa fa-user"></span>
      <%= activity.get_owner.user_profile.name != nil && activity.get_owner.user_profile.name != '' ? activity.get_owner.user_profile.name : activity.get_owner.username %>
  <% end %>
  commented on
  <% if activity.trackable.commentable.is_a?(Item) %>
      an item
      <%= link_to item_path(activity.trackable.commentable) do %>
        <span class="fa fa-cube"></span>
        <%= activity.trackable.commentable.name %>.
      <% end %>
  <% elsif activity.trackable.commentable.is_a?(Element) %>
      an item
      <span class="fa fa-cube"></span>
      <%= activity.trackable.commentable.name %>
      in collection
      <%= link_to collection_path(activity.trackable.commentable.collection) do %>
          <span class="fa fa-cubes"></span>
          <%= activity.trackable.commentable.collection.name %>.
      <% end %>
  <% elsif activity.trackable.commentable.commentable.is_a?(Element) %>
      a comment
      <%= link_to collection_element_path(activity.trackable.commentable.commentable.collection,activity.trackable.commentable.commentable) do %>
          <span class="fa fa-cube"></span>
          <%= activity.trackable.commentable.commentable.name %>.
      <% end %>
  <% else %>
      a comment
      <%= link_to item_path(activity.trackable.commentable.commentable) do %>
          <span class="fa fa-cube"></span>
          <%= activity.trackable.commentable.commentable.name %>.
      <% end %>

  <% end %>
  <div class="activity-time">
    <%= time_ago_in_words(activity.created_at) %> ago
  </div>
</li>