//circles

.dropdown-menu li .dropdown-circle-picker {
  margin-left: 15px;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  font-size: 15px;
  color: #000;
  border: 1px solid #dddddd;
  line-height: 100px;
  text-align: center;
  background: #ffffff;
  margin: 10px;
  float: left;
  font-family: Oswald, sans-serif;
}

.circle-add {
  font-weight: bold;
  color: #ffffff;
  background: #7d1482;
}

.circle:hover {
  border: 1px solid #7d1482;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(105, 58, 130, 0.60)  !important;
}

.highlighted {
  border: 1px solid #7d1482;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(105, 58, 130, 0.60)  !important;
  font-weight: bold;
  width: 110px;
  height: 110px;
  border-radius: 55px;
  font-size: 17px;
  line-height: 110px;
  margin: 5px;
}

.circle-buttons {
  display: block;
  text-align: right;
  padding-bottom: 5px;
  margin-bottom: 15px;

  .change-view {
    padding: 0;
    display: inline-block;
  }

  .change-view * {
    display: inline-block;
  }

  .change-view a {
    text-align: center;
    vertical-align: middle;
    font-size:25px;
    text-decoration: none !important;

  }

  .free-btn {
    box-shadow: none;
  }
}