// collection show layout style

.collection-desc {
    font-weight: 600;
    color: #6f6f6f;
    margin-left: 10px;
}

.description {
  margin-top: 10px;
  display: block;
}

.collection-buttons {
  display: block;
  text-align: right;
  padding-bottom: 5px;
  margin-bottom: 15px;

  .change-view {
      padding: 0;
      display: inline-block;

  }

  .change-view * {
      display: inline-block;
  }

  .change-view a {
    text-align: center;
    vertical-align: middle;
    font-size:25px;
    text-decoration: none !important;

  }

   .dropdown {
    display: inline-block;
  }

  .free-btn {
    box-shadow: none;
  }
}

.mainpage_header.collection {
  text-align: left;

}

.collection_view {
  height: 100%;
  min-height:600px;
}

// collection carousel view style

.collection_carousel {
    display: none;
}

.items_carousel {
    display: block;
    list-style-type: none;
    text-align: center;
    border-radius: 4px;
    max-width: 1900px;
    margin-bottom: 20px;
    padding:0px 4px 0px 4px;
    margin-left: auto;
    margin-right: auto;
}

.item_block {

    border-radius: 5px;
    height:270px;
    width:255px;
    float: left;
    margin: 14px 5px 14px 5px;
    border: 1px solid 	#dddddd;
    background: white;

    img {
        margin-top: 5px;
        height: 90%;
        width: 90%;
    }
}

.item-name {
    width: 100%;
    text-align: left;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #5c1461;
    font-weight: 600;
    font-size: 1.5em;
    text-decoration: none;
    margin-right: 20px;
}

.item_block:hover {

    border: 1px solid #777;
    transition: border 0.3s;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;

    .item-info {
        visibility: visible;
    }
}

.item-info {
    color: white !important;
    position: relative;
    visibility: hidden;
    height:268px;
    width:253px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: -271px;
    border-radius: 5px;
}



// listed collection view style

.collection_listed {
    display: none;
}

.img-list {
    width: 80px;
    height: 80px;
    margin: 5px;
    margin-right: 10px;
}

.media {
    border-radius: 3px;
    background-color: white;

    h3 {
        margin-top: 10px;
    }
}

.media:hover {
    border-color: rgba(163, 163, 163, 0.87) !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(60, 60, 60, 0.60) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(60, 60, 60, 0.60) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(60, 60, 60, 0.60) !important;

}

.media-list {

    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    max-width: 1000px;
    margin:auto;
    padding: 0px 20px 0px 20px !important;

    small {
        color: #090909;
    }
    
    a {
        margin: 1px;
        color: #000000 !important;
        text-decoration: none !important;
        display: inline-block;
    }

    .item-attr {
        display: none;
    }

    .item-details {
        cursor: pointer;
        text-align: left;
        display: block;
        margin-left: 20px;
        margin-bottom: 5px;
    }
}

.media-body {
    display: inline-block;

    h3,p {
        display: block;
    }
}

// grid collection view style


.items-shelf{
    list-style-type: none;
    text-align: center;
    background: url(<%= asset_path 'shelves.png' %>) 50% -7px repeat;
    background-size: initial;
    border-radius: 4px;
    max-width: 1900px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.10) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.60) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.60) !important;
    margin-bottom: 20px;
    padding:0px 4px 0px 4px;
}

.item-box {
    height:80px;
    width:80px;
    float: left;
    margin: 14px 5px 14px 5px;
    box-shadow: 0 4px 4px -2px #232323;
    -moz-box-shadow: 0 4px 4px -2px #232323;
    -webkit-box-shadow: 0 4px 4px -2px #232323;

    img {
        height: 100%;
        width: 100%;
    }
}

.item-box:hover {
    img:hover {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
}

.white {
    background: #fff;


}

// collections list style

#collections-search-results {
    display: block;
}

#collections-list {
    list-style-type: none;
    text-align: center;
    border-radius: 4px;
    max-width: 1900px;
    margin-bottom: 20px;
    padding:0px 4px 0px 4px;
    margin-left: auto;
    margin-right: auto;
}

.collection-box {

    border-radius: 5px;
    height:270px;
    width:255px;
    float: left;
    margin: 14px 5px 14px 5px;
    border: 1px solid 	#dddddd;
    background: white;

    img {
        height: 90%;
        width: 90%;
    }
}

.collection-info {

    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    visibility: hidden;
    position: relative;
    display: block;
    color: white !important;
    height: 269px;
    width: 100px;
    margin-top: -255px;
    margin-left: 154px;
    text-align: center;
    z-index: 3;

    ul {
        text-align: right;
        vertical-align: middle;
        position:absolute;
        margin-top: 120px;
        margin-left: 10px;
        font-weight: 600;
        font-size: 1.5em;
        color: white !important;
    }

    .add-item-link {
        margin-top: 78px;
    }

    i {
        margin-right: 6px;
    }

    a {
        margin-top: 20px;
        color: white !important;
    }
}

.collection-box:hover {

    border: 1px solid #777;
    transition: border 0.3s;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;

    .collection-info {
        color: white !important;
        display: block;
        background: black;
        opacity: 0.8;
        visibility: visible;
        -webkit-transition: background 0.3s;
        -moz-transition: background 0.3s;
        -o-transition: background 0.3s;
    }
}

.collection-name {
    width: 100%;
    text-align: left;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.collection-image {
    position: relative;

}

h3 {
    color: rgba(51, 11, 58, 0.90);
    letter-spacing: -1px;
    margin-left: 10px !important;
}

h1 .fa-times {
    vertical-align: top;
    font-size: 0.5em;
}
.active-sort {
    background-color: #212121 !important;
    color: white !important;
}

.attr-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-align-last: left;
    margin-top: 5px;

    li {
        display: inline-block;
        border: 1px solid #c6c6c6;
        margin: 4px 2px 4px 2px;
        border-radius: 2px;
        padding: 3px;
    }
}

.active-view {
   color: #9b0096;
}

.name-wrapper {
    margin-right: 10px;
}

.attr-wrapper {
    height: 269px;
    overflow-y: auto;
}

.media-body {
    h3,p {
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: justify;
    }
}

.collections-list {
    margin: 10px 0px;
}

.collection-thumb .slideshow-wrapper {
    position: relative;
}

.collection-thumb .slideshow {
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.collection-thumb .slideshow img {
    width: 100%;
    height: auto;
}

.collection-thumb .thumbnail {
    position: relative;
}

.collection-thumb .caption h3 {
    margin: 0px !important;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.items-counter-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 100%;
    background: #000;
    color: #fff;
    opacity: 0.5;
    z-index: 15;
    text-transform: uppercase;
    text-align: center;
}

.items-counter {
    position: absolute;
    top: 50%;
    left: 28px;
}

.items-counter b {
    display: block;
    font-size: 24px;
    text-align: center;
}

.share-button-container {
    display: inline-block;
}