// comments list

.comments {
  margin: 10px 0px;
  color: #777;
  line-height: 22px;
}

.comments li {
  padding: 20px 0px;
  border-top: 1px solid #eee;
}

.comments a:link,
.comments a:hover,
.comments a:visited {
  color: #431548;
}

.comments-count {
  margin: 10px 0px !important;
  color: #333;
}

// comment content

.comment {
  position: relative;
}

.comment a.avatar {
  position: absolute;
  left: 0px;
}

.comment img {
  width: 50px;
  height: 50px;
}

.comment .message {
  position: relative;
  margin: 0px 0px 0px 65px;
  min-height: 50px;
}

// comment form

.comment.form {
  margin: 5px 0px 3px 0px;
}

.comment.form .message:before {
  position: absolute;
  left: -7px;
  top: 9px;
  border-top: 7px solid transparent;
  border-right: 7px solid #ddd;
  border-bottom: 7px solid transparent;
  content: "";
}

.comment.form .message:after {
  position: absolute;
  left: -5px;
  top: 10px;
  border-top: 6px solid transparent;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  content: "";
}

.comment.form textarea {
  width: 100%;
  min-height: 80px;
  max-height: 250px;
  padding: 10px;
  border: 1px solid #ddd;
  color: #777;
}

.comment.form textarea:focus {
  border: 1px solid #ddd !important;
  outline: none !important;
  box-shadow: none !important;
}

// comment message

.comment a.author {
  font-weight: bold;
}

.comment .message .ago {
  font-size: 12px;
  color: #999;
}

.comment .message p {
  margin: 5px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

// comment opts

.comment .opts {
  display: none;
  float: right;
}

.comment .message:hover .opts {
  display: block;
}

.comment .opts li {
  padding: 0px;
  margin: 0px 5px 0px 0px;
  border: none;
  font-size: 14px;
  color: #777;
}

// comment actions

.comment-actions {
  float: right;
}

.comment-actions li,
.comment-replies .comment-actions li {
  padding: 0px;
  margin: 0px;
  background: none;
  border: none;
}

// comment replies

.comment a.reply {
  float: right;
  font-weight: normal;
}

.comment-replies  {
  margin: 10px 0px 0px 65px;
}

@media (max-width: 768px) {

  .comment-replies  {
    margin: 10px 0px;
  }

}

.comment-replies .message {
  margin: 0px 0px 0px 50px;
}

.comment-replies li {
  padding: 8px 8px 8px 0px;
  background: #fafafa;
}

.comment-replies img {
  width: 34px;
  height: 34px;
}