.counter-block {
  position: relative;
}

.char-counter {
  color: #d3d3d3;
  font-size: x-small;
  position: absolute;
  cursor: default;
  bottom: -16px;
  right: 10px;
  opacity: 0.2;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.char-counter-alert {
  opacity: 0.7;
  color: darkgoldenrod;
}

.char-counter-error {
  opacity: 0.7;
  color: red;
}

[counter]:hover + .char-counter {
  opacity: 1;
}