// forms

.vert {
  resize:vertical;
  max-height:450px;
}

.free-input {
  background-color: #fdfdfd;
  margin-top:10px;
  margin-bottom: 10px;
}

.form-control::-webkit-input-placeholder,.form-control:-ms-input-placeholder,.form-control::-moz-placeholder {
  color: #484848;
}

.form-control{
  color: #000000;
}

.form-control.search {
  color: #fefefe;
}

// devise errors style

/* Common styles for all types */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;

}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Variations */
.bs-callout-danger,.bs-callout-danger h4 {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
  color: #cd3333;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.bs-callout-danger h4 {
  color: #ae1e1e;
}