.navbar-header #logo {
  line-height: 50px;
  vertical-align: middle;
}

.navbar-custom {
  border-bottom: 1px solid #333;
}

#search-form input,
#search-form .input-group-addon {
  background: #2a2a2a;
  border: 1px solid #333;
  color: #ddd;
}

#header-search {

}