// items search bar
#items-search-bar {
  border-bottom: 1px solid #eee;
  margin: 0px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

#items-search-results-count h3 {
  margin: 0px 0px 10px 0px;
}

#items-search-results .thumbnail:hover {
  border: 1px solid #777;
  transition: border 0.3s;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
}

#items-search-results .caption h3 {
  margin: 0px;
  padding: 0px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#items-search-results .caption h3 small {
  display: block;
}

#items-search-results .item-stats {
  margin: 5px 0px 8px 0px;
  text-align: right;
}

#items-search-results .rating {
  margin: 0px;
  height: 10px;
}

#items-search-results .progress-bar {
  background: #7d1482;
}

#items-search-results .item-stats-rating {
  margin: 3px 0px 3px 0px;
  display: block;
  color: #777;
}

#items-search-results .likes-icon, #items-search-results .dislikes-icon {
  margin: 0px 3px 0px 3px;
}

//search page

#searchthumb .inner{
  padding: 20px;
  background: grey;
  border-radius: 20px;
  margin-bottom: 30px;
}

// item showcase

#item-wrapper {
  margin: 0px 0px 20px 0px;
  border-bottom: 3px solid #ddd;
  background: #fafafa;
//  -webkit-box-shadow: 0px 5px 25px 0px rgba(50, 50, 50, 0.5);
//  -moz-box-shadow:    0px 5px 25px 0px rgba(50, 50, 50, 0.5);
//  box-shadow:         0px 5px 25px 0px rgba(50, 50, 50, 0.5);
}

#item-showcase {
  position: relative;
  transition: width 1s;
}

#item-social-opts {
  position: absolute;
  top: 20px;
  left: 8px;
  padding: 0px;
  margin: 0px;
  color: #fff;
  font-size: 18px;
}

#item-social-opts li {
  margin: 0px 10px 0px 0px;
}

#item-social-opts button {
  width: 34px;
  height: 34px;
  padding: 0px;
  background: #000;
  opacity: 0.6;
  text-align: center;
}

#item-social-opts button:hover {
  opacity: 0.8;
  color: #fff;
}

#item-social-opts button .fa {
  font-size: 16px;
}

#item-info {
  position: relative;
  padding: 20px 20px 0px 20px;
}

#item-info h1 {
  margin: 0px 0px 10px 0px;
  font-family: 'Oswald', sans-serif;
}

#item-info h1 small {
  font-size: 18px;
}

#item-info p.description {
  font-size: 16px;
  line-height: 24px;
  color: #777;
}

#item-opts {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

#item-opts li {
  margin: 0px 0px 0px 5px;
}

#item-opts .dropdown ul li {
  margin: 0px;
}

#item-creation-info img.avatar {
  width: 34px;
  height: 34px;
  float: left;
  margin: 0px 8px 0px 0px;
  border: 1px solid #eee;
}

#item-creation-info p {
  float: left;
  line-height: 34px;
  vertical-align: middle;
}

#item-attributes {
  margin: 20px 0px 0px 0px;
}

#item-attributes dl {
  margin: 0px;
}

#item-attributes dt {
  font-size: 14px;
  font-weight: normal;
  color: #777;
}

#item-attributes dd {
  padding: 0px 0px 10px 20px;
  margin: 0px 0px 10px 0px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
}

#item-attributes dd.last {
  border: none;
}

#item-tabs {
  margin: 20px 0px 0px 0px;
  border-bottom: 1px solid #ddd;
}

#item-tabs .nav-tabs {
  border: none;
}

#item-content-panes {
  padding: 10px;
}

#item-content-panes h3 {
  margin: 10px 0px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

#comments-wrapper h2 {
  margin: 20px 0px;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

#comments li {
  padding: 0px 0px 10px 0px;
  margin: 0px 0px 20px 0px;
  border-bottom: 1px solid #eee;
}

#comments .avatar {
  width: 50px;
  height: 50px;
  float: left;
  padding: 3px;
  border: 1px solid #eee;
}

#comments .comment-info {
  font-size: 16px;
}

#comments .comment-info i {
  font-size: 12px;
}

#comments .comment-content {
  line-height: 22px;
  color: #555;
}

#comments textarea.comment-input {
  width: 100%;
  border: 1px solid #eee;
}

#comments button.comment-submit {
  padding: 3px 5px;
  float: right;
  margin: 8px 0px 0px 0px;
}

.item_attribute {
  margin: 7px 0px 7px 0px;
}

.templates-dropdown {
  margin-bottom: 7px;
}