// top navigation

//#logo {
//  text-transform: uppercase;
//  letter-spacing: -1px;
//  font-weight: bold;
//  font-size: 24px;
//  color: #dadada;
//}

// page wrapper

#page-wrapper {
  width: auto;
  background: #fff;
  transition: margin 0.3s;
}


// utils

.no-padding {
  padding: 0 !important;
}

.underlined {
  border-bottom: 1px solid #eee;
}

// alert styling

#alert{
  z-index: 5;
  position: absolute;
}

.alert {
  box-shadow: 3px 3px 6px #888888;
}

// columns of same height

.container-xs-stretched {
  width: 100%;
  display:table;
  padding-left:0px;
  padding-right:0px;
}
.row-xs-stretched {
  display:table-row;
}
.col-xs-stretched {
  display:table-cell;
  float:none;
}

@media (min-width: 768px) {
  .container-sm-stretched {
    width: 100%;
    display:table;
    padding-left:0px;
    padding-right:0px;
  }
  .row-sm-stretched {
    display:table-row;
  }
  .col-sm-stretched {
    display:table-cell;
    float:none;
  }
}

@media (min-width: 992px) {
  .container-md-stretched {
    width: 100%;
    display:table;
    padding-left:0px;
    padding-right:0px;
  }
  .row-md-stretched {
    display:table-row;
  }
  .col-md-stretched {
    display:table-cell;
    float:none;
  }
}

@media (min-width: 1200px) {
  .container-lg-stretched {
    width: 100%;
    display:table;
    padding-left:0px;
    padding-right:0px;
  }
  .row-lg-stretched {
    display:table-row;
  }
  .col-lg-stretched {
    display:table-cell;
    float:none;
  }
}

@media (max-width: 1500px) {
  .container {
    width: auto !important;
  }
}

// vertical alignment styles

.col-top {
  vertical-align:top;
}
.col-middle {
  vertical-align:middle;
}
.col-bottom {
  vertical-align:bottom;
}

// fix firefox responsive images

.img-responsive {
  width: 100%
}

.with-top-nav {
  margin-top: 50px;
}

#sign-in-btn {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #777777;
}

#sign-in-btn:hover,#sign-in-btn:focus {
  color: white;
}