@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

html {
  overflow-y: scroll;
}

body {
  background: #fff;
}

label {
  margin: 0px;
}

// headers

.mainpage_header {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin-bottom:20px;
}

// buttons

.btn-primary {
  background-color: #7d1482;
  border-color: #5c1461;
}

.btn-primary:hover,.btn-primary:disabled,.btn-primary:focus {
  background-color: #693a82;
  border-color: #4d3265;
}

.free-btn{
  box-shadow: 3px 3px 6px #888888;
}


// dialog box style

#confirmation_dialog {

  text-align: center;

  .modal-body {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
  }

  .modal-dialog {
    display:inline-block;
    margin:auto;
    margin-top: 25vh;
    width:auto;
  }

  .modal_content {
    text-align: center;
  }

  .modal-footer {
    text-align: center;
  }
}

//search page

#searchthumb .inner{
  padding: 20px;
  background: grey;
  border-radius: 20px;
  margin-bottom: 30px;
}

// utils

.underlined {
  border-bottom: 1px solid #eee;
}

#alert{
  z-index: 5;
  position: absolute;
}

.alert {
  box-shadow: 3px 3px 6px #888888;
}

// register page style

a {
  color: #431548;
}
// main

a:hover,a:focus {
  color: #a417a9;
}

// field style

input:focus, textarea:focus {
  border-color: rgba(125, 20, 130, 0.87) !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(105, 58, 130, 0.60)  !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(105, 58, 130, 0.60)  !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(105, 58, 130, 0.60)  !important;
}

// modals

.modal {
  overflow-y: auto;
}

.modal-body {
  position: relative;
  overflow-y: hidden;
  max-height: 700px;
  min-height: 50px;
  padding: 15px;
}

.modal-open {
  padding-right:0 !important;
}

.modal-auto{
  display:inline-block;
  margin:auto;
  max-width: 80%;
  position: relative;
  left: 10%;
  overflow-y: hidden;
  padding: 15px;
}

ul {
  list-style: none;
}

a, a:hover, a:link, a:visited {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #eee;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ddd;
}

// utils

.img-center {
  margin: 0px auto;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.no-margin {
  margin: 0px !important;
}

.no-padding {
  padding: 0px !important;
}

.stretched {
  margin: 0px !important;
  padding: 0px !important;
}

ul {
  list-style: none;
  padding: 0px;
}

ul.horizontal a:link,
ul.horizontal a:hover,
ul.horizontal a:visited {
  text-decoration: none;
  color: inherit;
}

ul.horizontal li {
  display: inline-block;
  zoom:1;
  *display:inline;
}

ul.horizontal li li {
  display: block;
}

.buttons-group {
  display: block;
  width: 100%;
  margin: 10px 0px;
  text-align: center;
}

.buttons-group .fa {
  margin: 0px 5px 0px 0px;
}

.modal form {
  width: 80%;
  margin: 0px auto;
}

.dropdown-menu li a .fa {
  margin: 0px 5px 0px -5px;
}
