.report a {
  color: red !important;
  font-weight: bold;
}

#report_issue_type {
  display: none;
}

.issue-type {
  margin: 10px 0px;
}

.issue-type span.value {
  display: none;
}

.issue-type button {
  position: relative;
  text-align: left;
}

.issue-type button .caret {
  position: absolute;
  right: 8px;
  bottom: 50%;
}

.issue-type button, .issue-type .dropdown-menu li {
  width: 200px;
}

.issue-type .dropdown-menu li a {
  padding: 3px 8px
}

.issue-type .fa {
  width: 20px;
}

h1.feedback-header {
  margin: 20px 0px 50px 0px;
}

h1.feedback-header small {
  display: block;
  margin-top: 10px;
}

table.feedback-table td {
  min-width: 120px;
}