
@media(min-width: 768px){
  #header-search-results {
    background-color: white;
    position: absolute;
    border-radius:3px;


    .list-group {
      overflow:hidden;
      z-index: 2000;
      margin: 0;
    }

    img {
      height:45px;
      width:45px;
      display: inline-block;

    }

    .list-group-item {
      vertical-align: middle;
    }
  }

  .search-result-desc {

    display: inline-block;
    margin: auto;
    height:45px;
    vertical-align: middle;



    small,a {
      display: block;
    }

    a {
      font-size: 20px;
    }
  }
}

@media(max-width: 768px){
  #header-search-results {
    border-radius:3px;
    background-color: white;

    .list-group {
      overflow:hidden;
      z-index: 2000;
      margin: 0;
    }

    img {
      height:100px;
      width:100px;
      display: inline-block;
      top:0;

    }

    .list-group-item {
      overflow: hidden;
      padding-top: 0;
    }
  }

  .search-result-desc {

    display: inline-block;
    position:relative;
    height:50px;
    margin-top: 25px;

    small,a {
      display: block;
    }

    a {
      font-size: 30px;
    }

  }
}

