// sidebar main

#sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 100%;
  z-index: 5;
  overflow-y: auto;
  overflow-x: hidden;
  background: #222;
  color: #777;
}

#sidebar img.avatar {
  width: 20px;
  height: 20px;
  float: left;
}

// sidebar btn

#sidebar-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
  background: #222;
  border: 1px solid #333;
  color: #ddd;
}

// sidebar toggled

#sidebar.toggled {
  width: auto;
}

#sidebar.toggled #logo,
#sidebar.toggled h4,
#sidebar.toggled .sidebar-menu span,
#sidebar.toggled #sidebar-search,
#sidebar.toggled #sidebar-footer,
#sidebar.toggled #sidebar-user-opts,
#sidebar.toggled #sidebar-collections,
#sidebar.toggled #sidebar-sign-btns
{
  display: none;
}

#sidebar-collapsed-nav {
  display: none;
}

#sidebar.toggled #sidebar-collapsed-nav {
  display: block;
  margin: 40px 0px 0px 0px;
}

// sidebar header

#sidebar-header {
  width: 100%;
  padding: 20px 20px;
  text-align: center;
}

#logo {
  display: inline-block;
}

#logo img {
  width: 34px;
  height: 34px;
}

#logo h1 {
  display: inline-block;
  margin: 0px;
  line-height: 34px;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 24px;
  color: #ddd;
}

// sidebar user opts

#sidebar-user-opts {
  padding: 0px 20px;
}

#sidebar-user-opts a {
  line-height: 20px;
  vertical-align: middle;
  font-size: 12px;
  text-transform: uppercase;
  color: #777;
}

#sidebar-user-opts .username {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 120px;
}

#sidebar-user-opts img.avatar {
  margin: 0px 10px 0px 0px;
}

.sidebar-opts-menu {
  float: right;
  padding: 0px;
}

.sidebar-opts-menu li {
  margin: 0px 5px 5px 0px;
}

#sidebar .sidebar-opts-menu li a {
  padding: 3px;
  color: #ddd;
}

// sidebar nav

#sidebar-nav {
  width: 100%;
}

#sidebar-nav h4 {
  width: 100%;
  padding: 0px 20px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

#sidebar-nav h4 .fa {
  color: #333;
}

.sidebar-menu {
  margin: 0px;
  padding: 0px;
}

.sidebar-menu li {
  color: #777;
}

.sidebar-menu li a {
  display: block;
  padding: 10px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-menu li a:link,
.sidebar-menu li a:hover,
.sidebar-menu li a:visited {
  text-decoration: none;
  color: #777;
}

.sidebar-menu li a:hover {
  color: #ddd;
}

.sidebar-menu li a .fa {
  margin: 0px 10px;
  font-size: 16px;
}

.sidebar-menu li a.selected {
  background: #431548;
  color: #ddd;
}

#sidebar-collections img.avatar {
  margin: 0px 10px;
}

.menu-separator {
  display: block;
  margin: 15px 20px;
  border-bottom: 1px solid #333;
}

// sidebar footer

#sidebar-footer {
}

#sidebar-submenu {
  width: 100%;
  margin: 50px 0px 0px 0px;
  padding: 0px 20px;
  color: #fff;
}

#sidebar-submenu li {
  margin: 0px 10px 10px 0px;
}

#sidebar-submenu li a:link,
#sidebar-submenu li a:hover,
#sidebar-submenu li a:visited {
  color: #777;
}

#sidebar-submenu li.report a:link,
#sidebar-submenu li.report a:hover,
#sidebar-submenu li.report a:visited {
  font-weight: bold;
  color: red;
}

#sidebar-submenu li a:hover {
  color: #ddd;
}


// sign up and in buttons

#sidebar-sign-btns {
  margin: 20px 0px;
}

#sidebar-sign-btns li {
  margin: 0px 10px 10px 0px;
}

// sidebar search

#sidebar-search {
  position: relative;
  margin: 30px 0px 0px 0px;
  padding: 0px;
  width: 100%;
}

#sidebar-search input,
#sidebar-search .input-group-addon {
  background: #2a2a2a;
  border: 1px solid #333;
  color: #ddd;
}

#layout-search-results {
  display: none;
  position: absolute;
  width: 100%;
}

#layout-search-results ul {
  width: 100%;
  max-height: 250px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  overflow-y: auto;
  background: #111;
  opacity: 0.9;
}

#layout-search-results ul li {
  border-bottom: 1px solid #1a1a1a;
  text-align: left;
}

#layout-search-results ul img {
  width: 30px;
  height: 30px;
  float: left;
  margin: 0px 10px 0px 0px;
  border: 1px solid #1a1a1a;
}

#layout-search-results ul li a {
  width: 100%;
  height: 54px;
  display: block;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #777;
}

#layout-search-results ul li a:hover span {
  color: #ddd;
}

#layout-search-results ul li a span {
}

#layout-search-results ul li a small {
  display: block;
  font-size: 10px;
}

#layout-search-counter {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 20px;
  background: #111;
  text-align: center;
}
