@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

.body {
  height: 100%;
  max-height: 100%;
  background: #81000e;
}

.body * {
  margin:0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.bk_join {
  width: 100%;
  text-align: center;
}

.background {
    width: 100%;
    height: 700px;
}

.bk_0 {
  background: url(<%= asset_path 'main_photo_4.jpg' %>) 50% 20px no-repeat fixed;
}

.bk_1 {
  background: url(<%= asset_path 'header_photo_4.jpg' %>) 50% 0 no-repeat fixed;
}

.bk_2 {
  background: url(<%= asset_path 'header_photo_3.jpg' %>) 50% 0 no-repeat fixed;
}

.bk_3 {
    background: url(<%= asset_path 'header_photo_6.jpg' %>) 50% 0 no-repeat fixed;
}

.container.no-sidebar{
    width:100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

#wrapper.no-sidebar #page-wrapper {
    margin: 0;
    padding: 0;
}

/* title style */

.main_title h1,.sub_title,.sub_title a{
    color: #ffffff;
    text-align: left;
    font-weight: 600;
}

.home_btn{
    .btn {
        margin-top:7px;
        margin-left: 1vw;
        vertical-align: middle;
    }
}

.sub_title{
   margin-left: 1vw;
   font-weight: 200;
   display: block;
}

.sub_title {
    a:hover,a:active,a:focus {
        text-decoration: none;
    }

}

@media(min-width: 768px) {

    .welcome_screen {
      margin-top: 25vh;
      margin-left: 8vw;
      margin-bottom: 40px
    }

    .main_title h1{
      font-size: 10vw;
    }

    .sub_title {
      margin-top: -25px;
      font-size: 1.75vw;
    }
}

@media(max-width: 1318px){

    .sub_title {
      margin-top: -20px;
      font-size: 2.75vw;
    }

    .main_title h1{
      font-size: 15vw;
    }
}

@media(max-width: 768px) {

    .welcome_screen {
      margin-top: 30vh;
      margin-left: 10vw;
      margin-bottom: 40px
    }

    .main_title h1{
      font-size: 20vw;
    }

    .sub_title {
      margin-top: -10px;
      font-size: 4.75vw;
    }
}

.sub_title a {
    padding-left:4px;
    padding-right:4px;
}

#collect {
    background-color: #7b1481;
}

#share {
    background-color: #e65a00;
}

#discover {
    background-color: #52b219;
}

#collect:hover {
    background-color: #be26c9;
}

#share:hover {
    background-color: #f98700;
}

#discover:hover {
    background-color: #36ea02;
}

.home_buttons {
    margin:10px;
}

// banner style

.banner_text * {
    display: block;
    color: #FFFFFF;
}


@media(max-width: 10000px) {

    .banner_text {
        p {
            font-size: 30px;
        }
        h2 {
            font-size: 60px;
            font-weight: 700;
            text-align: left;
            margin-bottom: 20px;
        }
    }

    .banner_text {
        display: inline-block;
        margin: 10px;
        max-width: 500px;
        text-align: justify;
        vertical-align: middle;
    }

    .ban_img {
        width: 90%;
        margin: 30px 0px 10px 50px;
    }

    .background {

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }



}


@media(max-width: 300px){
    .background {
        -webkit-background-size: auto;
        -moz-background-size: auto;
        -o-background-size: auto;
        background-size: auto;
    }
}

@media(max-width: 1060px) {

    .banner_text {
        p {
            font-size: 25px;
        }
        h2 {
            font-size: 55px;
            font-weight: 700;
            text-align: left;
            margin-bottom: 20px;
        }
    }

    .banner_text {
        display: inline-block;
        margin: 10px 0px 10px 20px;
        max-width: 350px;
        text-align: justify;
        vertical-align: middle;
    }

    .banner_img{
        text-align: center;
    }

    .ban_img {
        width: 70%;
        margin: 30px 0px 10px 20px;
    }


}

@media(max-width: 880px) {

    .banner_text {
        p {
            font-size: 20px;
        }
        h2 {
            font-size: 40px;
            font-weight: 700;
            text-align: left;
            margin-bottom: 20px;
        }
    }

    .banner_text {
        display: inline-block;
        margin: 10px 0px 10px 20px;
        max-width: 280px;
        text-align: justify;
        vertical-align: middle;
    }

    .banner_img{
        text-align: center;
    }

    .ban_img {
        width: 300px;
        margin: 30px 0px 10px 20px;
    }


}

@media(max-width: 640px) {

    .banner_text {
        p {
            font-size: 20px;
        }

        h2 {
            font-size: 45px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 10px;
        }
    }

    .banner_text {
        display: inline-block;
        margin: 10px 10px 20px 10px;
        max-width: 80%;
        text-align: justify;
    }

    .ban_img {
        width: 70%;
        margin-left: 10px
    }


}



.main_photo {
    height: 1100px !important;
}

#bj_0 {
    background-color: #7d1482;
}

#bj_1 {
    background-color: #e65a00;
}

#bj_2 {
    background-color:  #52b219;
}

.banner_img {
    display: inline-block;
}

.arrow {
    text-decoration: none;
    text-align:center;
    display: block;
    width: 100%;

    .glyphicon{
        font-size: 40px;
        color:white;
    }
}
