// file upload opts

.upload-opts ul {
  width: 100%;
  margin: 10px 0px;
  padding: 0px;
}

.upload-opts ul li {
  width: 90px;
  height: 90px;
  margin: 0px 10px 0px 0px;
  position: relative;
//  cursor: pointer;
  text-align: center;
  border: 1px solid #eee;
  overflow: hidden;
}

.upload-opts ul li.selected {
  border: 1px solid #777;
}

.upload-opts ul li:hover {
  border: 1px solid #777;
}

.upload-opts ul li span {
  display: block;
  color: #555;
}

.upload-opts ul li i.fa {
  font-size: 48px;
  margin: 10px 0px 5px 0px;
}

.upload-opts ul li span.caption {
  font-size: 11px;
  text-transform: uppercase;
}

.upload-opts ul li span.overlap {
  position: absolute;
  width: 100%;
  bottom: 10px;
  z-index: 10;
  background: #000;
  opacity: 0.7;
}

.upload-opts ul li span.overlap span {
  opacity: 1;
  color: #fff;
}

.upload-opts ul li img {
  width: 90px;
  height: 90px;
}

.u-upload input[type="file"] {
  position: absolute;
  top: 0px;
  left: -110px;
  width: 250%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.u-progress {
  display: none;
  position: absolute;
  width: 100%;
  height: 15px;
  margin: 0px;
  padding: 0px 5px;
  bottom: 10px;
  z-index: 15;
  background: #fff;
}

.u-progress-bar {
  width: 0%;
  height: 5px;
  margin: 5px 0px;
  background: #222;
}

.u-status {
  display: none;
  font-weight: bold;
}

.upload-opts .undertaker {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 15;
  width: 15px;
  height: 15px;
  line-height: 12px;
  background: #000;
  color: #fff;
  opacity: 0.7;
}

.upload-opts li:hover .undertaker {
  display: block;
}

.upload-opts .undertaker .fa {
  margin: 0px;
  font-weight: normal;
  font-size: 10px;
  opacity: 1;
}
