// user profile

#up-header {
  margin: 10px 0px;
  background: #eee;
  border: 3px solid #ddd;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 10px 25px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 10px 25px 0px rgba(50, 50, 50, 0.5);
}

#up-header h1 a, #up-header h1 a:link, #up-header h1 a:visited {
  text-decoration: none;
  color: inherit;
}

#up-opts {
  margin: 10px -10px 0px 0px;
}

#up-opts li {
  float: left;
  margin: 0px 10px 10px 0px;
}

#up-opts li .fa {
  margin: 0px 5px 0px 0px;
}

#up-avatar {
  background: #fff;
}

#up-avatar img {
  max-width: 300px;
  margin: auto;
}

#social-opts {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: #fff;
  border-top: 1px solid #eee;
}

#social-opts li {
  float: left;
}

#social-opts li a {
  float: left;
  width: 40px;
  height: 40px;
  padding-top: 8px;
  font-size: 20px;
  color: #777;
  text-align: center;
}

#social-opts li a:hover {
  color: #555;
}

#up-description {
  float: left;
}

#up-description h1 {
  font-family: 'Oswald', sans-serif;
  margin: 20px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#up-description h1 small {
  display: block;
  margin: 8px 0px 0px 0px;
  font-size: 18px;
}

#up-description p.description {
  height: 130px;
  overflow-y: auto;
  padding-right: 10px;
  color: #555;
  line-height: 22px;
}

#up-stats {
  margin: 15px 0px 15px 0px;
}

#up-stats .stats {
  border-right: 1px solid #ddd;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

#up-stats .stats.last {
  border: none;
}

#up-stats .stats a.count {
  display: block;
  color: #7d1482;
  font-size: 32px;
}

#up-stats .stats a.count:hover {
  color: #5c1461;
  text-decoration: none;
}

#up-overview h2 {
  margin: 20px 0px;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
}

#up-collections .carousel-control {
  width: auto;
  margin: 10px;
  background: none;
  color: #555;
}

#up-collections .carousel-control.left {
  margin-left: -25px;
}

#up-collections .carousel-control.right {
  margin-right: -25px;
}

.follower {
  text-align: center;
}

.follower a, .follower a:link, .follower a:visited {
  color: inherit;
}

.follower a:hover {
  color: #555;
}

.follower h4 {
  font-weight: bold;
}

.follower img {
  display: block;
  border: 1px solid #eee;
  opacity: 0.8;
}

.follower img:hover {
  opacity: 1;
  transition: opacity 0.65s;
  -webkit-transition: opacity 0.65s;
  -moz-transition: opacity 0.65s;
  -o-transition: opacity 0.65s;
}

.follower span {
  display: block;
  color: #777;
}

.users-list li h4 {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
