.votes {
  color: #ccc;
  font-size: 14px;
}

.votes li {
  margin: 0px 5px 0px 0px;
  padding: 0px;
  border: none;
  background: none;
}

.votes li a:hover {
  color: #999;
}

.votes li a.voted {
  color: #999;
}

.votes li.votes-for-count {
//  color: green;
}

.votes li.votes-against-count {
//  color: red;
}