<h1 class="mainpage_header">Activity Feed</h1>
<% if @activities.length > 0 %>
<div class="activity">
  <ul class="activity-list">
    <% @activities.each do |activity| %>
        <%= render_activity(activity) %>
    <% end %>
  </ul>
</div>
<% else %>
    <strong>
      You
    </strong>
    don't have any activity yet.
    <strong>
      Follow
    </strong>
    someone in order to see some!
<% end %>
