<ul id="voting-for-<%= votable.class.name %>-<%= votable.id %>" class="votes horizontal">
  <li>
    <%= upvote_link votable do %>
        <i class="fa fa-thumbs-up"></i>
    <% end %>
  </li>

  <li class="voting-score"><%= votable.voting_score %></li>

  <li>
    <%= downvote_link votable do %>
        <i class="fa fa-thumbs-down"></i>
    <% end %>
  </li>
</ul>