var voting = $("#voting-for-<%= votable.class.name %>-<%= votable.id %>"),
    upvoteBtn = voting.find(".upvote"),
    downvoteBtn = voting.find(".downvote"),
    votingScore = voting.find(".voting-score");