<%= load_voting @votable %>

switchThumbs(upvoteBtn, downvoteBtn);
upvoteBtn.prop("href", "<%= upvote_link_url @votable %>");
downvoteBtn.prop("href", "<%= unvote_link_url @votable %>");
votingScore.html("<%= @votable.voting_score %>");