<%= load_voting @votable %>

resetThumbs(downvoteBtn, upvoteBtn);
upvoteBtn.prop("href", "<%= upvote_link_url @votable %>");
downvoteBtn.prop("href", "<%= downvote_link_url @votable %>");
votingScore.html("<%= @votable.voting_score %>");

