<%= load_voting @votable %>

switchThumbs(downvoteBtn, upvoteBtn);
upvoteBtn.prop("href", "<%= unvote_link_url @votable %>");
downvoteBtn.prop("href", "<%= downvote_link_url @votable %>");
votingScore.html("<%= @votable.voting_score %>");