<% if @report.errors.any? %>
    <div class="row">
      <div class="bs-callout bs-callout-danger">
        <h4><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h4>
        <ul>
          <% @report.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>

<%= form_for @report, :html => {:id => "report-form"} do |f| %>
    <div class="form-group">
      <%= f.label :issue_type %>
      <%= f.select :issue_type, [["Problem", "Problem"], ["Idea", "Idea"], ["Opinion", "Opinion"]] %>

      <div class="dropdown issue-type">
        <button class="btn btn-default dropdown-toggle" type="button" id="issue-type-dropdown" data-toggle="dropdown">
          <span class="content"></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="issue-type-dropdown">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#" value="Problem">
              <i class="fa fa-warning"></i>
              Problem
            </a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#" value="Idea">
              <i class="fa fa-lightbulb-o"></i>
              Idea
            </a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#" value="Opinion">
              <i class="fa fa-comments-o"></i>
              Opinion
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, autofocus: true, class: "form-control free-input", counter: 50 %>
    </div>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, rows: 5, class: "form-control free-input", counter: 500 %>
    </div>

    <div class="buttons-group">
      <%= f.submit "Send report", class: "btn btn-primary free-btn" %>
    </div>
<% end %>
