<button style="float: right" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#newReportModal">
  New Report
</button>
<h1 class="mainpage_header">Listing reports</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
      <th>Issue type</th>
      <th>Title</th>
      <th>Created at</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @reports = Report.order("created_at desc") %>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.user.username %></td>
        <td><%= report.user.email %></td>
        <td><%= report.issue_type %></td>
        <td><%= link_to truncate(report.title, :length => 100), report %></td>
        <td><%= report.created_at %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% @report = Report.new %>
<%= my_modal("newReportModal", "New report") do %>
    <%= render "reports/form" %>
<% end %>