<h1 class="mainpage_header">BEVY Feedback</h1>

<% content_for :buttons do %>
    <li>
      <%= cancel_to static_pages_home_path %>
    </li>
<% end %>

<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
  <%= render 'form' %>
</div>