<h1 class="mainpage_header feedback-header">
    <i class="fa fa-reply-all"></i>
    <%= @report.title %>
    <small><%= @report.issue_type %></small>
</h1>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-centered">
    <table class="table table-hover feedback-table">
      <tr>
        <td>
          <strong>Report ID:</strong>
        </td>
        <td>
          <%= @report.id %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>User:</strong>
        </td>
        <td>
          <%= @report.user.username %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Email:</strong>
        </td>
        <td>
          <%= @report.user.email %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Title:</strong>
        </td>
        <td>
          <%= @report.title %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Content:</strong>
        </td>
        <td>
          <%= h(@report.content).gsub(/\n/, '<br/>').html_safe %>
        </td>
      </tr>
    </table>
  </div>
</div>
