<h1 class="mainpage_header">
  Circles
</h1>
<div class="container">
  <%= link_to "#", data: { toggle: "modal", target: "#newCircleModal" } do %>
      <div class="circle circle-add">New circle</div>
  <% end %>
  <%= my_modal("newCircleModal", "New circle") do %>
      <%= render "circles/form", action: "create", method: "post" %>
  <% end %>
  <% @circles.each do |circle| %>
      <%= link_to user_profile_set_users_path(user_profile_id: @shown_user, id: circle), :remote => true do %>
          <div class="circle">
              <%= truncate(circle.name, length: 12) %>
          </div>
      <% end %>
  <% end %>
</div>
