<div id="circle-picker-form-button_<%= following_user.id %>">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-plus"></i>
        Add to
      </button>
      <ul class="dropdown-menu" role="menu">
        <% circles_ids = Relationship.where(followed_user_id: followed_user.id, following_user_id: following_user.id).pluck("circle_id") %>
        <li role="presentation" class="dropdown-header">existing circle:</li>
        <% @circles.each do |circle| %>
            <% unless circle.level == 0 %>
                <% if circles_ids.include?(circle.id) %>
                    <li role="presentation" style="display: block">
                      <%= form_for following_user.relationships.find_by(followed_user_id: followed_user.id, following_user_id: following_user.id, circle_id: circle.id), html: { method: :delete }, remote: true do |f| %>
                          <div><%= f.hidden_field :followed_user_id, value: followed_user.id %></div>
                          <div><%= f.hidden_field :following_user_id, value: following_user.id %></div>
                          <div><%= f.hidden_field :circle_id, value: circle.id %></div>
                          <label>
                            <input type="checkbox" checked="checked" class="checkable dropdown-circle-picker" >
                            <%= truncate(circle.name, length: 15) %>
                          </label>
                      <% end %>
                    </li>
                <% else %>
                    <li role="presentation" style="display: block">
                      <%= form_for following_user.relationships.build(followed_user_id: followed_user.id), remote: true do |f| %>
                          <div><%= f.hidden_field :followed_user_id, value: followed_user.id %></div>
                          <div><%= f.hidden_field :following_user_id, value: following_user.id %></div>
                          <div><%= f.hidden_field :circle_id, value: circle.id %></div>
                          <label>
                            <input type="checkbox" class="checkable dropdown-circle-picker"/>
                            <%= truncate(circle.name, length: 15) %>
                          </label>
                      <% end %>
                    </li>
                <% end %>
            <% end %>
        <% end %>
        <li role="presentation" class="divider" style="display: block"></li>
        <li role="presentation" class="dropdown-header" style="display: block">new circle:</li>
        <%= link_to new_user_profile_circle_path(user_profile_id: current_user.id, following_user_id: following_user.id) do %>
            <li role="presentation" style="margin-left: 35px">create...</li>
        <% end %>
      </ul>
    </div>
</div>