<h1 class="mainpage_header">
  Followers
  <small>
    <% if @circle %>
        <%= @circle.name %>
    <% else %>
        All
    <% end %>
  </small>
</h1>

<div class="circle-buttons underlined">
  <% if @circle && @circle.id && @circle.level != 0 %>
      <%= link_to edit_user_profile_circle_path(user_profile_id: @shown_user.id, id: @circle.id) do %>
          <button class="btn btn-primary free-btn" >
            Edit circle
          </button>
      <% end %>
  <% end %>
</div>


<% if followers.count < 1 %>
    <strong>
      <%= @shown_user.name_or_username %>
    </strong>
    does not have any followers yet.
<% else %>
    <% followers.distinct.each do |follower| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="thumbnail">
            <%= link_to follower.user_profile do %>
                <%= image_or_placeholder follower.user_profile.avatar.thumb.url, :placeholder => "avatar_default.png", class: "img-responsive" %>
                <div class="caption">
                  <h3>
                    <%= follower.username %>
                  </h3>
                </div>
            <% end %>
            <ul class="horizontal text-center">
                <li>
                    <% if current_user != follower %>
                        <%= follow_button follower %>
                    <% end %>
                </li>
                <li>
                    <% if current_user == @shown_user %>
                        <%= circle_picker_button @shown_user, follower %>
                    <% end %>
                </li>
            </ul>
          </div>
        </div>
    <% end %>
<% end %>