<% @circle ||= Circle.new %>
<% if @circle.errors.any? %>
    <div class="row">
      <div class="bs-callout bs-callout-danger">
        <h4><%= pluralize(@circle.errors.count, "error") %> prohibited this cirlce from being saved:</h4>
        <ul>
          <% @circle.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>

<%= form_for @circle, :html => {:multipart => true, :id => "circle-form"}, url: { action: action, controller: 'circles', user_profile_id: current_user.id }, method: method do |f| %>
    <%= hidden_field_tag :following_user_id, params[:following_user_id] if params[:following_user_id] %>
    <div class="form-group">
      <%= f.text_field :name, autofocus: true, class: "form-control free-input", placeholder: "Name", counter: 64 %>
    </div>

    <div class="buttons-group">
      <ul class="horizontal">
        <li><%= f.submit nil, class: "btn btn-primary free-btn" %></li>
        <%= yield :buttons %>
      </ul>
    </div>
<% end %>
