<h1 class="mainpage_header">Editing circle</h1>

<% content_for :buttons do %>
    <li>
      <%= link_to user_profile_circle_path(@shown_user, @circle.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
          <i class="fa fa-trash"></i>
          Delete
      <% end %>
    </li>
    <li><%= cancel_to user_profile_circles_path(@shown_user) %></li>
<% end %>

<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
  <%= render 'form', action: "update", method: "patch" %>
</div>

