<% if current_user == @shown_user %>
    <%= render 'circles/circleslist' %>
<% end %>
<div class="circle-picker" id="circle-users">
    <%= render partial: 'circles/followers', :locals => { followers: @shown_user.followers } %>
</div>