<h1 class="mainpage_header">New circle</h1>

<% content_for :buttons do %>
    <li><%= cancel_to user_profile_circles_path @shown_user %></li>
<% end %>

<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
  <%= render 'form', action: "create", method: "post" %>
</div>