<h1 class="mainpage_header">
  <%= @circle.name %>
</h1>

<div class="circle-buttons underlined">
  <% unless @circle.level == 0 %>
      <button class="btn btn-primary free-btn" data-toggle="modal" data-target="#editCircleModal">
        Edit
      </button>
  <% end %>
</div>

<% content_for :buttons do %>
    <li>
      <%= link_to user_profile_circle_path(id: @circle.id, user_profile_id: current_user.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
          <i class="fa fa-trash"></i>
          Delete
      <% end %>
    </li>
<% end %>

<%= my_modal("editCircleModal", "Edit circle") do %>
    <%= render "circles/form", action: "update", method: "patch" %>
<% end %>

<% followers_ids = Relationship.where(followed_user_id: current_user.id, circle_id: @circle.id).pluck("following_user_id") %>

<% current_user.followers.distinct.each do |follower| %>
    <% if followers_ids.include?(follower.id) %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="thumbnail">
            <%= link_to follower.user_profile do %>
                <%= image_or_placeholder follower.user_profile.avatar.thumb.url, :placeholder => "avatar_default.png", class: "img-responsive" %>
                <div class="caption">
                  <h3>
                    <%= follower.username %>
                  </h3>
                </div>
            <% end %>
            <ul class="horizontal text-center">
              <li>
                <% if current_user != follower %>
                    <%= follow_button follower %>
                <% end %>
              </li>
              <li>
                <% if current_user == @shown_user %>
                    <%= circle_picker_button @shown_user, follower %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
    <% end %>
<% end %>