<div class="col-sm-4 col-sm-offset-4" id="alert">
<% flash.each do |name, msg| %>
    <% if notice %>
        <div class="alert alert-success" role="alert">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <%= content_tag :section, msg, :id => "flash_#{name}", :class => "flash" %>
        </div>
    <% elsif alert %>
        <div class="alert alert-danger" role="alert">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <%= content_tag :section, msg, :id => "flash_#{name}", :class => "flash" %>
        </div>
    <% end %>
<% end %>
</div>