<header class="navbar navbar-inverse navbar-fixed-top navbar-custom">
  <div class="container-fluid">

    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse"  data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a id="logo" href="/">
        <%= image_tag "bevy.png" %>
        <h1>Bevy</h1>
      </a>

      <% if user_signed_in? %>
          <button id="sidebar-toggle" class="btn btn-default navbar-btn sidebar-toggle" data-target=".sidebar-collapse" href="#">Guide</button>
      <% end %>
    </div>

    <nav class="navbar-collapse collapse" role="navigation">
      <%= form_tag search_results_path, :method => :get, :class => "navbar-form navbar-left", :id => "search-form", :remote => true do%>
          <div class="form-group">
            <div class="input-group">
              <%= text_field_tag :search, params[:search], class: "form-control search", list: "hints", id: "header-search", autocomplete: "off", type: "Text", placeholder: "Search...",:remote => true %>
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
              </div>
            </div>
            <div id="layout-search-results" style="display: none;">
              <%= render 'layouts/searchresults' %>
            </div>
          </div>
      <% end %>

      <ul class="nav navbar-nav navbar-left">
        <li><%= active_link_to "Explore", errors_under_construction_url, class: "ucLink" %></li> <!-- TODO -->
        <li><%= active_link_to "Blog", posts_path %></li>
        <li><%= active_link_to "Help", errors_under_construction_url, class: "ucLink"  %></li> <!-- TODO -->
      </ul>

      <div class="navbar-right">
        <button class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#signUpModal">
          Sign up
        </button>
        |
        <button class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#signInModal" id="sign-in-btn">
          Sign in
        </button>
      </div>
    </nav>
  </div>
</header>