<ul>
  <% if @objects.present? %>
      <% @objects.first(15).each do |obj| %>
          <li>
            <% if obj.is_a?(Item) %>
                <%= link_to item_path(obj) do %>
                    <%= image_or_placeholder obj.image.thumb.url, class: "img-list media-object pull-left" %>
                    <span><%= obj.name %></span>
                    <small>Item</small>
                <% end %>
            <% elsif obj.is_a?(Collection) %>
                <%= link_to collection_path(obj) do %>
                    <%= image_tag "bevy_logo.png" %>
                    <span><%= obj.name %></span>
                    <small>Collection</small>
                <% end %>
            <% elsif obj.is_a?(User) %>
            <%= link_to obj.user_profile do %>
                    <%= image_or_placeholder obj.user_profile.avatar.thumb.url, :placeholder => "avatar_default.png", class: "img-responsive" %>
                <span><%= obj.username %></span>
                <small>User</small>
            <% end %>
      <% end %>
          </li>
      <% end %>
  <% end %>
</ul>

<div id="layout-search-counter">
  <%= @objects_count %> results
</div>