<button id="sidebar-btn" class="btn" type="button">
  <i class="fa fa-chevron-left"></i>
</button>

<div id="sidebar">
  <div id="sidebar-header">
    <a id="logo" href="/">
      <%= image_tag "bevy.png" %>
      <h1>Bevy</h1>
    </a>

    <%= render "layouts/sidebarsearch" %>
  </div>

  <ul id="sidebar-collapsed-nav" class="sidebar-menu">
    <li>
      <a id="sidebar-search-btn" href="#" title="Search collections and items">
        <i class="fa fa-search"></i>
      </a>
    </li>
  </ul>

  <div id="sidebar-nav">
    <% if user_signed_in? %>
        <div id="sidebar-user-opts">
          <%= link_to user_profile_path(current_user) do %>
              <%= user_avatar @user_profile, :micro_thumb, "avatar" %>
          <% end %>

          <%= link_to user_profile_path(current_user), class: "username" do %>
              <div class="username">
                <%= current_user.name_or_username %>
              </div>
          <% end %>

          <ul class="sidebar-opts-menu horizontal">
            <li>
              <%= link_to edit_user_profile_path(current_user), title: "Profile settings" do %>
                  <i class="fa fa-cog"></i>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, title: "Sign out" do %>
                  <i class="fa fa-sign-out"></i>
              <% end %>
            </li>
          </ul>
        </div>

        <span class="menu-separator"></span>

        <h4>
          View
          <i class="fa fa-chevron-up pull-right"></i>
        </h4>
        <ul class="sidebar-menu">
          <li>
            <%= active_link_to static_pages_home_path, title: "Main page" do %>
                <i class="fa fa-home"></i>
                <span>Home</span>
            <% end %>
          </li>
          <li>
            <%= active_link_to user_profile_path(current_user), title: "Watch your profile" do %>
                <i class="fa fa-user"></i>
                <span>Profile</span>
            <% end %>
          </li>
          <li>
            <%= active_link_to social_user_profile_path(current_user), title: "Social..." do %>
                <i class="fa fa-group"></i>
                <span>Social</span>
            <% end %>
          </li>
          <li>
            <%= active_link_to collections_path, title: "Manage collections" do %>
                <i class="fa fa-list"></i>
                <span>Collections</span>
            <% end %>
          </li>
          <li>
            <%= active_link_to items_path, title: "Explore items" do %>
                <i class="fa fa-list"></i>
                <span>Items</span>
            <% end %>
          </li>
          <li>
            <%= active_link_to errors_under_construction_url, class: "ucLink", title: "Explore followed collections" do %>
                <i class="fa fa-eye"></i>
                <span>Followed collections</span>
            <% end %>
          </li>
        </ul>

        <span class="menu-separator"></span>

        <h4>
          Create
          <i class="fa fa-chevron-up pull-right"></i>
        </h4>
        <ul class="sidebar-menu">
          <li>
            <%= active_link_to new_collection_path, title: "Create new collection" do %>
                <!--<i class="fa fa-plus-circle"></i>-->
                <i class="fa fa-cubes"></i>
                <span>New collection</span>
            <% end %>
          </li>
          <li>
            <%= active_link_to new_item_path, title: "Create new item" do %>
                <!--<i class="fa fa-plus-circle"></i>-->
                <i class="fa fa-cube"></i>
                <span>New item</span>
            <% end %>
          </li>
        </ul>

        <span class="menu-separator"></span>

        <h4>
          Collections
          <i class="fa fa-chevron-up pull-right"></i>
        </h4>
        <ul id="sidebar-collections" class="sidebar-menu">
          <% @user_collections.each do |c| %>
              <li>
                <%= active_link_to c, title: c.name do %>
                    <%= image_tag "default_image.png", class: "avatar" %>
                    <span><%= c.name %></span>
                <% end %>
              </li>
          <% end %>
        </ul>

    <% end %>
  </div>

  <% unless user_signed_in? %>
      <ul id="sidebar-sign-btns"  class="horizontal">
        <li>
          <button class="btn btn-primary" data-toggle="modal" data-target="#signUpModal">
            Sign up
          </button>
        </li>
        <li>
          <button class="btn btn-primary" data-toggle="modal" data-target="#signInModal">
            Sign in
          </button>
        </li>
      </ul>
  <% end %>

  <div id="sidebar-footer">
    <ul id="sidebar-submenu" class="horizontal">
      <li><%= active_link_to "About", errors_under_construction_url, class: "ucLink" %></li>
      <li><%= active_link_to "Blog", posts_path %></li>
      <li><%= active_link_to "Developers", errors_under_construction_url, class: "ucLink" %></li>
      <% if user_signed_in? %>
          <li class="report"><a href="#" data-toggle="modal" data-target="#newReportModal">Report</a></li>
      <% end %>
    </ul>
  </div>
</div>





