<%= form_tag search_results_path, method: :get, id: "sidebar-search", remote: true do %>
    <div class="form-group">
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control search", list: "hints",  id: "sidebar-search-input", autocomplete: "off", type: "text", placeholder: "Search...", remote: true %>
        <div class="input-group-addon">
          <i class="fa fa-search"></i>
        </div>
      </div>
      <div id="layout-search-results">
        <%= render 'layouts/searchresults' %>
      </div>
    </div>
<% end %>