<!DOCTYPE html>
<html>
<head>
  <title>Bevy<%= ' - ' + yield(:title) if content_for?(:title) %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
    <%= render "layouts/sidebar" %>
<% else %>
    <%= render "layouts/header" %>
<% end %>

<div id="page-wrapper" class="<%= "with-top-nav" unless user_signed_in? %>">
  <%= render 'layouts/alerts' %>

  <% container = content_for?(:container_type) ? yield(:container_type) : "container" %>
  <div class="<%= container %>">
    <%= yield %>
  </div>
</div>

<%= my_modal("signUpModal", "Sign up") do %>
    <%= render "devise/registrations/form" %>
<% end %>

<%= my_modal("signInModal", "Sign in") do %>
    <%= render "devise/sessions/form" %>
<% end %>

<% @report = Report.new %>
<%= my_modal("newReportModal", "Create new report") do %>
    <%= render "reports/form" %>
<% end %>

<div id="UCModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-auto">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= image_tag src='UC-Bevy rc.png', class: "img-responsive ucLink"%>
  </div>
</div>

</body>
</html>